<!doctype html>
<html>
<head>
    {%- set aside = params.get_header("Aside") -%}
    <title>{%- block layout_head_title -%}{%- if scaffolding and s %}{{ s.scaffold_title(route.action) }}{% endif %}{%- endblock -%}</title>
    {%- block layout_head -%}{{ events.layout_head() }}{%- endblock %}
</head>
<body class="iframe-page in-edit-mode {{ aside }}">
    {% block page_big_header -%}{{ s.partial_include_in_plugin('header.html') }}{%- endblock -%}
    <div class="page-header">{% block page_header %}{% endblock %}</div>
    <div class="page-wrap">
        <main class="content">
            {{ events.layout_before_content() }}
            {% block page_content_without_wrapper %}
            <div class="wrapper wrapper-content">{% block page_content %}{%- endblock %}</div>
            {%- endblock %}
            {{ events.layout_after_content() }}
            {% block page_helper %}{% endblock %}
        </main>
    </div>
    <div class="page-data"
         data-search-url="{% if uri_permission(action="list") %}{{ uri_action_link('list') }}{% endif %}"
         data-search-prev-word="{% if search_prev_word %}{{ search_prev_word }}{% endif %}"
         data-search-post-word="{% if search_post_word %}{{ search_post_word }}{% endif %}"
         data-view-function-edit="{% if change_view_to_edit_function %}{{ change_view_to_edit_function }}{% endif %}"
         data-view-function-view="{% if change_view_to_view_function %}{{ change_view_to_view_function }}{% endif %}"
         data-view-function-sort="{% if change_view_to_sort_function %}{{ change_view_to_sort_function }}{% endif %}"
         data-view-function-delete="{% if change_view_to_delete_function %}{{ change_view_to_delete_function }}{% endif %}"
    ></div>
    <div class="fbtn-container"><div class="fbtn-inner">{% block page_fly_button -%}{%- endblock -%}</div></div>
    {% block page_scripts -%}{%- endblock -%}
</body>
</html>