<!doctype html>
<html>
<head>
    {%- set aside = params.get_header("Aside") -%}
    {%- set is_ajax = params.get_header("Is-Ajax") -%}
    <title>{%- block layout_head_title -%}{%- if scaffolding and s %}{{ s.scaffold_title(route.action) }}{% endif %}{%- endblock -%}</title>
    {%- if is_ajax != "true" %}
	<link rel="stylesheet" href="/static/vendor/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/plugins/backend_ui_material/static/plugins/TinyMCE/4.2.5/skins/lightgray/content.min.css">
	<link rel="stylesheet" href="/plugins/backend_ui_material/static/css/material.min.css">
    <link rel="stylesheet" href="/static/vendor/bootstrap-table/bootstrap-table.min.css">
    <link rel="stylesheet" href="/static/vendor/blueimp-gallery/blueimp-gallery.min.css">
    <link rel="stylesheet" href="/plugins/backend_ui_material/static/css/page.css?v=4.1.1&run={{ framework.app_version }}">

    <script type="text/javascript" src="/static/vendor/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/static/vendor/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/static/vendor/jquery-form/jquery.form.min.js"></script>
    <script type="text/javascript" src="/static/vendor/keymaster/keymaster.min.js"></script>
    <script type="text/javascript" src="/static/vendor/moment/moment-with-locales.min.js"></script>
    <script type="text/javascript" src="/static/vendor/bootstrap-table/bootstrap-table.min.js"></script>
    <script type="text/javascript" src="/static/vendor/bootstrap-table/bootstrap-table-export.min.js"></script>
    <script type="text/javascript" src="/static/vendor/bootstrap-table/bootstrap-table-cookie.min.js"></script>
    <script type="text/javascript" src="/static/vendor/bootstrap-table/bootstrap-table-zh-TW.min.js"></script>
    <script type="text/javascript" src="/static/vendor/bootstrap-table/bootstrap-table-reorder-rows.min.js"></script>

    <script type="text/javascript" src="/plugins/backend_ui_material/static/js/material.min.js"></script>
    <script type="text/javascript" src="/plugins/backend_ui_material/static/plugins/TinyMCE/4.2.5/tinymce.min.js?app_version={{ framework.app_version }}&backend_version={{ backend_version }}"></script>
    <script type="text/javascript" src="/plugins/backend_ui_material/static/plugins/TinyMCE/4.2.5/langs/zh_TW.js"></script>
    <script type="text/javascript" src="/plugins/backend_ui_material/static/js/page.js?v=0.0.1&run={{ framework.app_version }}"></script>

    <script type="text/javascript" src="/static/vendor/blueimp-gallery/jquery.blueimp-gallery.min.js"></script>
    <script type="text/javascript" src="/static/vendor/vue/vue.min.js"></script>
{#    <link rel="stylesheet" href="/static/vendor/summernote/summernote.min.css">#}
{#    <script type="text/javascript" src="/static/vendor/summernote/summernote.min.js"></script>#}
{#    <script type="text/javascript" src="/static/vendor/summernote/summernote-zh-TW.min.js"></script>#}
    {% endif %}
    {%- block layout_head -%}{{ events.layout_head() }}{%- endblock %}
</head>
<body class="iframe-page in-edit-mode {{ aside }}">
    <div class="page-wrap">
        <div class="page_header">{% block layout_header %}{% endblock %}</div>
        <main class="content">
            {%- block layout_body -%}
                {{ events.layout_before_content() }}
                {% block layout_before_content -%}{%- endblock -%}
                {% block layout_content %}{%- endblock %}
                {% block layout_after_content -%}{%- endblock %}
                {{ events.layout_after_content() }}
            {%- endblock %}
        </main>
        {%- include "backend_ui_material/flash_messages.html" with context %}
    </div>
    <div class="page_data"
         data-search-url="{% if uri_exists_with_permission(action="list") %}{{ uri_action_link('list') }}{% endif %}"
         data-view-function-edit="{% if change_view_to_edit_function %}{{ change_view_to_edit_function }}{% endif %}"
         data-view-function-view="{% if change_view_to_view_function %}{{ change_view_to_view_function }}{% endif %}"
         data-view-function-sort="{% if change_view_to_sort_function %}{{ change_view_to_sort_function }}{% endif %}"
         data-view-function-delete="{% if change_view_to_delete_function %}{{ change_view_to_delete_function }}{% endif %}"
    ></div>
    <div class="fbtn-container"><div class="fbtn-inner">{% block layout_buttons -%}{%- endblock -%}</div></div>
    {% block layout_scripts -%}{%- endblock -%}
</body>
</html>