<!doctype html>
<html>
<head>
    {%- set aside = params.get_header("Aside") -%}
    {%- set is_ajax = params.get_header("Is-Ajax") -%}
    <title>{%- block layout_head_title -%}{{inflector.humanize(route.action)}}{%- endblock -%}</title>
    {%- if is_ajax != "true" %}
    <link rel="stylesheet" href="/plugins/backend_ui_material/static/plugins/TinyMCE/4.2.5/skins/lightgray/content.min.css">
	<link rel="stylesheet" href="/static/components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="/plugins/backend_ui_material/static/css/material.min.css">
    <link rel="stylesheet" href="/plugins/backend_ui_material/static/css/page.css?v=4.1.0">
    <link rel="stylesheet" href="/plugins/backend_ui_material/static/css/page.more.css?v=0.0.1&run={{ framework.app_version }}">
    <link rel="stylesheet" href="/static/components/bootstrap-table/dist/bootstrap-table.min.css">

    <script type="text/javascript" src="/static/components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/static/components/jquery-ui/ui/jquery-ui.custom.js"></script>
    <script type="text/javascript" src="/static/components/keymaster/keymaster.js"></script>
    <script type="text/javascript" src="/static/components/moment/min/moment-with-locales.min.js"></script>
    <script type="text/javascript" src="/static/components/bootstrap-table/dist/bootstrap-table.min.js"></script>
    <script type="text/javascript" src="/static/components/bootstrap-table/dist/extensions/export/bootstrap-table-export.min.js"></script>
    <script type="text/javascript" src="/static/components/bootstrap-table/dist/extensions/cookie/bootstrap-table-cookie.min.js"></script>
    <script type="text/javascript" src="/static/components/bootstrap-table/dist/locale/bootstrap-table-zh-TW.min.js"></script>

	<script type="text/javascript" src="/plugins/backend_ui_material/static/js/material.min.js"></script>
    <script type="text/javascript" src="/plugins/backend_ui_material/static/plugins/TinyMCE/4.2.5/tinymce.min.js?app_version={{ framework.app_version }}&backend_version={{ backend_version }}"></script>
    <script type="text/javascript" src="/plugins/backend_ui_material/static/plugins/TinyMCE/4.2.5/langs/zh_TW.js"></script>
    <script type="text/javascript" src="/plugins/backend_ui_material/static/js/page.js?v=0.0.1&run={{ framework.app_version }}"></script>
    {% endif %}
    {%- block layout_head -%}{{events.layout_head()}}{%- endblock %}
</head>
<body class="iframe-page action-{{ route.action }} {{ aside }} in-edit-mode"
      ondragover="pageDOD.onDragOver(event)" ondrop="pageDOD.onDrop(event)"
      ondragenter="pageDOD.onDragStart(event)" ondragleave="pageDOD.onDragEnd(event)">
    <div class="aside-page">
        <div class="aside-header">
            <a class="aside-close"><i class="icon-2x icon material-icons">close</i></a>
            <h3>{%- if scaffolding and s %}{{ s.scaffold_title(route.action) }}{% endif %}</h3>
        </div>
        <div class="scrollDiv" style="height: 100%;">
            <header class="header header-transparent header-waterfall affix-top animated fadeInDown print-hide" style="top: -70px">
                {% block header %}{% endblock %}
            </header>
            <main class="content">
                {%- block layout_body -%}
                    {% block layout_before_content -%}{{events.layout_before_content() }}{%- endblock -%}
                    {% block layout_content %}{%- endblock %}
                    {% block layout_after_content -%}{{events.layout_after_content() }}{%- endblock %}
                {%- endblock %}
            </main>
            {% include "backend_ui_material/flash_messages.html" with context -%}
        </div>
    </div>
    {% block float_buttons -%}{%- endblock -%}
    <div id="dropping"><div class="helper-text">將您所拖曳的文件上傳到伺服器</div></div>
    {% block layout_scripts -%}{%- endblock -%}
</body>
</html>