<!DOCTYPE html>
<html lang="zh-tw">
<head>
	<meta charset="UTF-8">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width" name="viewport">
	<title>{{ backend_title }}</title>
	<link rel="stylesheet" href="/static/vendor/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" href="/static/vendor/sweetalert2/sweetalert2.min.css">
	<link rel="stylesheet" href="/plugins/backend_ui_material/static/css/material.min.css">
    <link rel="stylesheet" href="/plugins/backend_ui_material/static/plugins/TinyMCE/4.2.5/skins/lightgray/content.min.css">
    <link rel="stylesheet" href="/static/vendor/bootstrap-table/bootstrap-table.min.css">
    <link rel="stylesheet" href="/static/vendor/blueimp-gallery/blueimp-gallery.min.css">
	<link rel="stylesheet" href="/plugins/backend_ui_material/static/css/console_page.css?run={{ framework.app_version }}">
</head>
<body class="in-edit-mode" data-user="{{ print_key(application_user_key) }}" data-dashboard-name="{{ dashboard_name }}"
      ondragover="uploader.onDragOver(event)" ondrop="uploader.onDrop(event)" ondragenter="uploader.onDragStart(event)" ondragleave="uploader.onDragEnd(event)">
	<header class="print-hide">
        <div class="page-overlay"></div>
		<ul class="nav nav-list pull-left small-title"><li><a data-toggle="menu" href="#ui_menu"><span class="icon icon-lg">menu</span></a></li></ul>
		<a class="header-logo {% if page_title == backend_title %}header-affix-hide{% else %}{% endif %} margin-left-no margin-right-no gf-title" data-toggle="menu" href="#ui_menu" data-offset-top="100" data-spy="affix">{% if page_title != '{{ backend_title }}' %}{{ backend_title }}{% endif %}</a>
        <ul class="nav nav-list pull-right left-search">
            <li class="search-bar"><div class="search-bar"><i class="icon icon icon-lg">search</i><input type="text" id="keyword" /></div></li>
        </ul>
        <ul class="nav nav-list pull-right right-menu">
			<li class="dropdown"><a class="dropdown-toggle waves-attach padding-left-no padding-right-no text-center" href="/" target="_blank" title="檢視前台畫面"><span class="w32h32"><i class="icon icon-lg">personal_video</i></span></a></li>
			<li class="dropdown"><a class="dropdown-toggle waves-attach padding-left-no padding-right-no text-center" data-toggle="dropdown" aria-expanded="true" title="訊息"><span class="w32h32"><i class="icon icon-lg">notifications</i></span></a>
				<div class="dropdown-menu dropdown-menu-right padding-bottom-no padding-top-no top100-12" style="min-width: 288px;">
					<div class="tile"><div class="tile-inner text-black"><strong>通知</strong></div></div>
					<div id="message-box"></div>
					<a class="tile waves-attach" href="javascript:void(0)" target="aside_iframe" ><div class="tile-inner text-black text-right"><span>顯示全部</span><i class="icon icon-lg">navigate_next</i></div></a>
				</div>
			</li>
            <li class="dropdown"><a class="dropdown-toggle waves-attach padding-left-no padding-right-no text-center" data-toggle="dropdown" title="設定"><span class="w32h32"><i class="icon icon-lg">more_vert</i></span></a>
                <ul class="dropdown-menu dropdown-menu-right top100-12">
                    <li><a class="waves-attach" href="javascript:content_iframe.reload();"><span class="icon icon-lg margin-right-sm">cached</span>&nbsp;重新整理頁面</a></li>
                    <li><a class="waves-attach" href="javascript:print();"><span class="icon icon-lg margin-right-sm">print</span>&nbsp;列印此頁面</a></li>
                    <li><a class="waves-attach" href="{{ uri('admin:backend_ui_material:backend_ui_material:log') }}" target="content_iframe"><span class="icon icon-lg margin-right-sm">error_outline</span>&nbsp;系統日誌</a></li>
                    <li><a class="padding-right-lg waves-attach waves-effect" href="/{{ dashboard_name }}/logout" target="content_iframe"><span class="icon icon-lg margin-right">exit_to_app</span>登出</a></li>
                </ul>
            </li>
		</ul>
	</header>
	<nav aria-hidden="true" class="menu menu-left nav-drawer nav-drawer-md" id="ui_menu" tabindex="-1">
		<div class="menu-scroll">
			<div class="menu-content">
                <div class="page-overlay"></div>
				<div class="menu-logo"><a class="gf-title anonymous-high-light" href="/{{ dashboard_name }}/">{{ backend_title }}</a></div>
                <div class="user-box">
					<div class="avatar" style="background-image: url({{ application_user.avatar }})"></div>
					<div class="user-name"><a href="{{ uri('admin:application_user:application_user:profile') }}" target="content_iframe">{{ application_user_name }}</a></div>
				</div>
                <div class="op-mode">
                    <a class="btn btn-flat btn-brand view-change enter-edit-mode" data-view="edit" data-view-key="e" title="編輯模式"><i class="icon icon-2x edit-color">edit</i></a>
                    <a class="btn btn-flat btn-brand view-change enter-view-mode" data-view="view" data-view-key="v" title="檢視模式"><i class="icon icon-2x view-color">remove_red_eye</i></a>
                    <a class="btn btn-flat btn-brand view-change enter-sorting-mode" data-view="sort" data-view-key="s" title="排序模式"><i class="icon icon-2x sorting-color">sort_by_alpha</i></a>
                    <a class="btn btn-flat btn-brand view-change enter-delete-mode" data-view="delete" data-view-key="d" title="刪除模式"><i class="icon icon-2x delete-color">delete</i></a>
                </div>
                <div class=" scrollDiv">
                    <ul class="nav" id="main-nav">
                        {%- set menu_n = 0 -%}{% for item in menus %}
                        {%- if item.submenu -%}{%- set menu_n = menu_n + 1 -%}
                        {%- if item.need_hr_parent %}
                        <li class="hr"></li>{% endif %}
                        <li><a class="waves-attach collapsed menu-link" href="#menu_box_{{ menu_n }}" data-sort="{{ item.sort }}">{{ item.text }}<i class="icon material-icons float-icon">keyboard_arrow_right</i></a></li>{% else %}
                        <li><a class="waves-attach main-link" href="{{ item.url }}" target="content_iframe" data-sort="{{ item.sort }}">{{ item.text }}</a></li>{% endif %}
                        {%- endfor %}
                    </ul>
                    {% set menu_n = 0 -%}{%- for item in menus -%}
                    {%- if item.submenu -%}
                    {%- set menu_n = menu_n + 1 -%}
                    <div class="nav menu-box"  id="menu_box_{{ menu_n }}">
						<ul class="menu-collapse collapse in" id="menu_{{ menu_n }}">
                            <li class="menu-back"><a class="waves-attach collapsed menu-link" href="#menu_box_{{ menu_n }}"><i class="icon material-icons float-icon">keyboard_arrow_left</i> {{ item.text }}</a></li>
                            {%- for subitem in item.submenu -%}{% if subitem.need_hr %}
                            <li class="hr"></li>{% endif -%}{% if subitem.text == "gt" -%}
                            <li class="gt" data-sort="{{ subitem.sort }}">{{ subitem.group_title }}</li>{% else %}
                            <li><a class="waves-attach main-link" href="{{ subitem.url }}" target="content_iframe" data-sort="{{ subitem.sort }}">{{ subitem.text }}</a></li>{%- endif -%}
                            {%- endfor %}
                        </ul>
                     </div>
                    {% endif %}
                    {%- endfor %}
                </div>
			</div>
		</div>
	</nav>
	<main class="content">
        <div class="page-overlay"></div>
        <div id="content_area"></div>
	</main>
    <iframe name="aside_iframe" id="aside_iframe" frameborder="0" seamless="" src="/{{ dashboard_name }}/page_init"></iframe>
	<div class="progress"><div class="progress-bar"></div></div>
    <div class="hidden"><form><input type="file" id="image-file-picker" accept="image/*" /></form></div>
	{% if is_login == False %}<div class="login-backdrop in"></div>{% endif %}
    <script type="text/javascript" src="/static/vendor/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/static/vendor/sweetalert2/sweetalert2.min.js"></script>
    <script type="text/javascript" src="/static/vendor/keymaster/keymaster.min.js"></script>
    <script type="text/javascript" src="/static/vendor/moment/moment-with-locales.min.js"></script>
    <script type="text/javascript" src="/static/vendor/push.js/push.min.js"></script>
    <script type="text/javascript" src="/static/vendor/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/static/vendor/bootstrap-table/bootstrap-table.min.js"></script>
    <script type="text/javascript" src="/static/vendor/bootstrap-table/bootstrap-table-export.min.js"></script>
    <script type="text/javascript" src="/static/vendor/bootstrap-table/bootstrap-table-cookie.min.js"></script>
    <script type="text/javascript" src="/static/vendor/bootstrap-table/bootstrap-table-zh-TW.min.js"></script>
    <script type="text/javascript" src="/static/vendor/bootstrap-table/bootstrap-table-reorder-rows.min.js"></script>
    <script type="text/javascript" src="/static/vendor/blueimp-gallery/jquery.blueimp-gallery.min.js"></script>
    <script type="text/javascript" src="/static/vendor/vue/vue.min.js"></script>

	<script type="text/javascript" src="/plugins/backend_ui_material/static/js/material.min.js"></script>
    <script type="text/javascript" src="/plugins/backend_ui_material/static/plugins/TinyMCE/4.2.5/tinymce.min.js?app_version={{ framework.app_version }}&backend_version={{ backend_version }}"></script>
    <script type="text/javascript" src="/plugins/backend_ui_material/static/plugins/TinyMCE/4.2.5/langs/zh_TW.js"></script>
	<script type="text/javascript" src="/plugins/backend_ui_material/static/js/console_page.js?run={{ framework.app_version }}"></script>
    {% block javascritp %}{% endblock %}
</body>
</html>