<!DOCTYPE html>
<html lang="zh-tw">
<head>
	<meta charset="UTF-8">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width" name="viewport">
	<title>{{ backend_title }}</title>
	<link rel="stylesheet" href="/static/components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/components/sweetalert2/dist/sweetalert2.min.css">
	<link rel="stylesheet" href="/plugins/backend_ui_material/static/css/material.css">
	<link rel="stylesheet" href="/plugins/backend_ui_material/static/css/console.css?run={{ framework.app_version }}">
</head>
<body class="page-brand in-edit-mode" data-user="{{ application_user_key }}" data-dashboard-name="{{ dashboard_name }}" style="height: 101%;"
      ondragover="consoleDOD(event)" ondrop="consoleDOD(event)" ondragenter="consoleDOD(event)" ondragleave="consoleDOD(event)">
	<header class="header header-transparent header-waterfall ui-header">
		<ul class="nav nav-list pull-left small-title"><li><a data-toggle="menu" href="#ui_menu"><span class="icon icon-lg">menu</span></a></li></ul>
		<a class="header-logo {% if page_title == backend_title %}header-affix-hide{% else %}{% endif %} margin-left-no margin-right-no gf-title" data-toggle="menu" href="#ui_menu" data-offset-top="100" data-spy="affix">{% if page_title != '{{ backend_title }}' %}{{ backend_title }}{% endif %}</a>
        <a class="header-logo header-affix margin-left-no margin-right-no gf-title" data-toggle="menu" href="#ui_menu" data-offset-top="100" data-spy="affix">{% if page_title != backend_title %}．{% endif %}</a>
        <a class="header-logo header-affix margin-left-no margin-right-no gf-title" data-toggle="menu" href="#ui_menu" data-offset-top="100" data-spy="affix">{{ page_title }}</a>
        <ul class="nav nav-list pull-right left-search">
            <li class="search-bar"><div class="search-bar"><i class="icon icon icon-lg">search</i><input type="text" id="keyword" /></div></li>
        </ul>
        <div class="page-overlay"></div>
        <ul class="nav nav-list pull-right right-menu">
			<li class="dropdown">
				<a class="dropdown-toggle waves-attach padding-left-no padding-right-no text-center" href="/" target="_blank" title="檢視前台畫面">
					<span class="w32h32"><i class="icon icon-lg">aspect_ratio</i></span>
				</a>
            </li>
			<li class="dropdown">
				<a class="dropdown-toggle waves-attach padding-left-no padding-right-no text-center" data-toggle="dropdown" aria-expanded="true" title="訊息">
					<span class="w32h32"><i class="icon icon-lg">notifications</i></span>
				</a>
				<div class="dropdown-menu dropdown-menu-right padding-bottom-no padding-top-no" style="min-width: 288px;">
					<div class="tile">
						<div class="tile-inner text-black">
							<strong>Notifications</strong>
						</div>
					</div>
					<div id="message-box">

					</div>
					<a class="tile waves-attach" href="javascript:void(0)">
						<div class="tile-inner text-black text-right">
							<span>Show All</span>
							<i class="icon icon-lg">navigate_next</i>
						</div>
					</a>
				</div>
			</li>
            <li class="dropdown">
                <a class="dropdown-toggle text-black waves-attach padding-left-no padding-right-no text-center" data-toggle="dropdown" title="設定">
                    <span class="w32h32"><i class="icon icon-lg">more_vert</i></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" style="top: 100%;">
                    <li><a class="waves-attach" href="javascript:iframe.reload();"><span class="icon icon-lg margin-right-sm">cached</span>&nbsp;重新整理頁面</a></li>
                    <li><a class="waves-attach" href="javascript:print();"><span class="icon icon-lg margin-right-sm">print</span>&nbsp;列印此頁面</a></li>
                    {% if dashboard_name == "admin" %}<li><a class="waves-attach" href="/admin/log" target="content_iframe"><span class="icon icon-lg margin-right-sm">error_outline</span>&nbsp;系統日誌</a></li>{% endif %}
                    <li><a class="padding-right-lg waves-attach waves-effect" href="/{{ dashboard_name }}/logout"><span class="icon icon-lg margin-right">exit_to_app</span>登出</a></li>
                </ul>
            </li>
            <li><a href="/admin/application_user/profile" target="content_iframe"><div class="avatar user-box" style="background-image: url({{ application_user.avatar }})"></div></a></li>
		</ul>
	</header>
	<nav aria-hidden="true" class="menu menu-left nav-drawer nav-drawer-md" id="ui_menu" tabindex="-1">
		<div class="menu-scroll">
			<div class="menu-content">
				<a class="menu-logo gf-title anonymous-high-light" href="/{{ dashboard_name }}/">{{ backend_title }}</a>
				<div class="page-overlay"></div>
				<!--<div class="user-box">-->
					<!--<div class="avatar" style="background-image: url({{ application_user.avatar }})"></div>-->
					<!--<div class="user-name"><a href="/admin/application_user/profile" target="content_iframe">{{ application_user_name }}</a></div>-->
				<!--</div>-->
                <div class="op-mode">{% block op_mode %}
                    <a class="btn btn-flat btn-brand enter-edit-mode" data-view="edit" data-view-key="e" title="編輯模式"><i class="icon icon-2x edit-color">edit</i></a>
                    <a class="btn btn-flat btn-brand enter-view-mode" data-view="view" data-view-key="v" title="檢視模式"><i class="icon icon-2x view-color">remove_red_eye</i></a>
                    <a class="btn btn-flat btn-brand enter-sorting-mode" data-view="sort" data-view-key="s" title="排序模式"><i class="icon icon-2x sorting-color">sort_by_alpha</i></a>
                    <a class="btn btn-flat btn-brand enter-delete-mode" data-view="delete" data-view-key="d" title="刪除模式"><i class="icon icon-2x delete-color">delete</i></a>{% endblock %}
{#                    <span class="view-mode">檢視模式</span>#}
{#                    <span class="edit-mode">編輯模式</span>#}
{#                    <span class="delete-mode">刪除模式</span>#}
{#                    <span class="sorting-mode">排序模式</span>#}
                </div>
                <div class=" scrollDiv">
				<ul class="nav" id="main-nav">
                    <li class="hidden">
                        <a class="waves-attach m collapsed" data-toggle="collapse" href="#menu_usually">常用項目
                            <i class="icon material-icons float-icon">keyboard_arrow_right</i>
                        </a>
						<ul class="menu-collapse collapse" id="menu_usually"></ul>
                    </li>
                    {% set menu_n = 0 %}
                    {% for item in menus -%}
                    {%- if item.submenu -%}
                    {% set menu_n = menu_n + 1 %}
                    <li>
                        <a class="waves-attach collapsed menu-link" href="#menu_box_{{ menu_n }}">{{ item.text }}
                            <i class="icon material-icons float-icon">keyboard_arrow_right</i>
                        </a>
                    </li>
                    {%- else -%}
                        {% if item.text == "hr" %}
                            <li class="hr"></li>
                        {% else %}
                            <li><a class="waves-attach main-link" href="{{ item.url }}" target="content_iframe">{{ item.text }}</a></li>
                        {% endif %}
                    {% endif %}
                    {%- endfor %}
				</ul>
                    {% set menu_n = 0 %}
                    {% for item in menus -%}
                    {%- if item.submenu -%}
                    {% set menu_n = menu_n + 1 %}
                    <div class="nav menu-box"  id="menu_box_{{ menu_n }}">
						<ul class="menu-collapse collapse in" id="menu_{{ menu_n }}">
                            <li class="menu-back">
                                <a class="waves-attach collapsed menu-link" href="#menu_box_{{ menu_n }}"><i class="icon material-icons float-icon">keyboard_arrow_left</i> {{ item.text }}</a>
                            </li>
                            {%- for subitem in item.submenu %}
                            {% if subitem.text == "hr" %}
                                <li class="hr"></li>
                            {% else %}
                                {% if subitem.text == "gt" %}
                                    <li class="gt">{{ subitem.group_title }}</li>
                                {% else %}
                                    <li><a class="waves-attach main-link" href="{{ subitem.url }}" target="content_iframe">{{ subitem.text }} </a></li>
                                {% endif %}
                            {% endif %}
                            {%- endfor %}
                        </ul>
                     </div>
                    {% endif %}
                    {%- endfor %}
                </div>
			</div>
		</div>
	</nav>
	<div class="page-overlay"><a href="#"></a></div>
	<main class="content">
        <div class="iframe_mask" style="top: 56px;bottom: 0;left: 0;right: 0;background: rgba(119, 119, 119, 0.0);position: absolute;"></div>
        <iframe name="content_iframe" id="content_iframe" width="100%" height="100%" frameborder="0" seamless="" src="/{{ dashboard_name }}/page_init"></iframe>
	</main>
    <iframe name="aside_iframe" id="aside_iframe" height="100%" frameborder="0" seamless="" src="/{{ dashboard_name }}/page_init"></iframe>
	<div class="progress" style="position: absolute;top: 0;width: 100%;height: 4px;z-index: 999;margin: 0;background: transparent;"><div class="progress-bar" style="background-color: rgba(78, 66, 70, 0.47);"><</div></div>
	<footer class="ui-footer" style="display: none;">
		<div class="container gf-title">
			<p>{{ backend_title }}</p>
		</div>
	</footer>
    <div style="display: none;"><form><input type="file" id="image-file-picker" accept="image/*" /></form></div>
	{% if is_login == False %}<div class="login-backdrop in"></div>{% endif %}
    <script type="text/javascript" src="/static/components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/static/components/sweetalert2/dist/sweetalert2.min.js"></script>
    <script type="text/javascript" src="/static/components/keymaster/keymaster.js"></script>
    <script type="text/javascript" src="/static/components/moment/min/moment-with-locales.min.js"></script>
    <script type="text/javascript" src="/static/components/push.js/push.min.js"></script>
	<script type="text/javascript" src="/plugins/backend_ui_material/static/js/material.min.js"></script>
	<!--<script type="text/javascript" src="/plugins/backend_ui_material/static/js/project.min.js?run={{ framework.app_version }}"></script>-->
	<script type="text/javascript" src="/plugins/backend_ui_material/static/js/console.js?run={{ framework.app_version }}"></script>
    {% block javascritp %}{% endblock %}
</body>
</html>
