.gf-title {
    font-family: 'Jura', sans-serif;
    z-index: 99;
}
html, body, main.content{
    height: 100%;
}
body{
    margin-right: -3px;
    overflow: hidden;
}
main.content{
    padding-top: 56px;
    overflow-scrolling: touch;
    -webkit-overflow-scrolling: touch;
    position: relative
}

body.anonymous .login-backdrop {
  opacity: .5;
}
body.anonymous .anonymous-high-light{
    z-index: 99;
}

body.anonymous .btn-flat.btn-brand {
     color: #fff!important;
}

@media only screen and (min-width:992px){
    body.anonymous {
        /*overflow: hidden;*/
    }
}
@media only screen and (max-width:991px){
    .iframe_mask{
        display: none !important;
    }
    body.anonymous .header {
        z-index: 999;
        opacity: 0.99;
    }
    body.anonymous .menu.in .menu-scroll {
        -webkit-transform: translateX(-100%) !important;
        transform: translateX(-100%) !important;
    }
    body.anonymous .menu-backdrop.in {
        display: none;
    }
    body.anonymous.page-brand .header-transparent:before {
        background-color: #13497a;
        opacity: 0.99;
    }
    body.anonymous .fbtn-container,
    body.anonymous.page-brand .header .nav>li>a:first-child{
        display: none !important;
    }
    body.anonymous.page-brand .header .header-logo{
        margin-left: 10px !important;
    }
    body.has-keyboard main.content .ui-content-header,
    body.has-keyboard .card .text-center,
    body.has-keyboard .fbtn-container,
    body.has-keyboard header.header{
        display: none !important;
    }
    body.has-keyboard main.content .container{
        position: absolute;
        top: 10px;
        left: 10px;
        right: 10px;
    }
}
.login-backdrop {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: #000;
  opacity: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: opacity .3s cubic-bezier(.4,0,.2,1);
  transition: opacity .3s cubic-bezier(.4,0,.2,1);
  z-index: 32;
  position: fixed;
  left: 0;
  top: 0;
}
.w70{
    width: 70px;
}
.menu-content .nav>li>a {
    display: block;
    line-height: 48px;
    font-weight: 700;
}
.menu-content .nav a .material-icons{
    font-size: 21px;
    float: right;
    margin: 15px 0 12px 12px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
}
.menu-content .nav a.collapsed .material-icons{
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
}
.dropdown .avatar {
    background-color: rgba(154, 154, 154, 0) !important;
}
.dropdown.open .avatar {
    background-color: rgba(154, 154, 154, 0.68) !important;
}
.menu-content{
    height: 100%;
}
.scrollDiv {
    height: calc(100% - 238px);
    overflow: hidden;
    padding-right: 0;
    margin-top: 0;
    width: 100%;
}
.scrollDiv.on {
    height: calc(100% - 238px);
    overflow-y: scroll;
    overflow-x: hidden;
    overflow-scrolling: touch;
}

.scrollDiv::-webkit-scrollbar {
    width: 0;
}

.scrollDiv.on::-webkit-scrollbar {
    width: 5px;
}

/* Track 捲軸的底 */
.scrollDiv::-webkit-scrollbar-track {
    background: transparent;
    -webkit-box-shadow: transparent;
}

/* Handle 捲軸的 Bar */
.scrollDiv::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0;
    border-radius: 0;
    width: 3px;
    background: rgba(70, 70, 70, 0.7);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.scrollDiv.on::-webkit-scrollbar-thumb {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: rgba(70, 70, 70, 0.7);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.scrollDiv::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(70, 70, 70, 0.3);
}
.menu-content > div.user-box > .avatar, .offline .menu-content > div.user-box > .avatar {
    border: solid 3px #9b9b9b;
}
.online .menu-content > div.user-box > .avatar {
    border: solid 3px #44cc44;
}
#aside_iframe{
    position: absolute;
    top: 0;
    bottom:0;
    right:0;
    width: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 999;
    overflow: hidden;
    background-color: #f3f3f4;
}

.btn-group.op-mode .btn i{
    color: #999;
}
body.in-view-mode .edit-mode, body.in-view-mode .view-mode, body.in-view-mode .delete-mode, body.in-view-mode .sorting-mode,
body.in-edit-mode .edit-mode, body.in-edit-mode .view-mode, body.in-edit-mode .delete-mode, body.in-edit-mode .sorting-mode,
body.in-delete-mode .edit-mode, body.in-delete-mode .view-mode, body.in-delete-mode .delete-mode, body.in-delete-mode .sorting-mode,
body.in-sort-mode .edit-mode, body.in-sort-mode .view-mode, body.in-sort-mode .delete-mode, body.in-sort-mode .sorting-mode
{
    display: none;
}
body.in-edit-mode .edit-mode, body.in-view-mode .view-mode, body.in-delete-mode .delete-mode, body.in-sort-mode .sorting-mode{
    display: inline-block;
}

.btn-group.op-mode{
    border-top: solid 1px #888;
    border-bottom: solid 1px #888;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: 0 0 5px 0;
    width: 100%;
    background: #efefef;
}
.btn-group.op-mode .btn.action i{
    color: #03a9f4;
}
.btn-group.op-mode .btn{
    width: 24.9%;
    color: #03a9f4;
    margin: 3px 0;
    padding: 3px 10px;
    box-shadow: none !important;
}
.btn-group.op-mode .btn:hover, .btn-group.op-mode .btn:focus, .btn-group.op-mode .btn:after {
    background: transparent !important;
    outline: none;
}
.btn-group.op-mode .btn:after {
    display: none !important;
}
.btn-group.op-mode .btn:hover i {
    color: #000 !important;
}

body.in-edit-mode .edit-color, body.in-view-mode .view-color, body.in-delete-mode .delete-color, body.in-sort-mode .sorting-color,
body.in-edit-mode .btn:hover .edit-color, body.in-view-mode .btn:hover .view-color, body.in-delete-mode .btn:hover .delete-color, body.in-sort-mode .btn:hover .sorting-color
{
    color: #03a9f4 !important;
}
.btn-group.op-mode .icon-2x{
    font-size: 20px;
}
.btn-group.op-mode>span{
    line-height: 18px;
    margin: 9px;
}
.touchevents .move-headline>i{
    display: none !important;
}