@import url(https://fonts.googleapis.com/css?family=Roboto:300,300italic,400,400italic,500,500italic|Jura);

body {
    padding-bottom: 4px;
    background-color: #f3f3f4;
}

.page-brand .header-transparent:before {
    background-color: #1A77C9;
}

.ui-content-header {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: -58px;
    padding-top: 68px;
    padding-bottom: 58px;
}

.page-brand .ui-content-header {
    background-image: url(./images/bg/header.jpg);
    background-size: 540px 320px;
    background-position: 100% 0;
    background-color: #1e87e5;
}

.menu-content > .menu-logo:first-child {
    margin-top: 0;
    background-color: #1A77C9;
    color: #fff;
    margin-bottom: 0;
    border-bottom: 0;
    position: fixed;
    top: 0;
}

.menu-content > div.user-box {
    height: 103px;
    padding: 32px 7px;
    margin-top: 25px;
    background-color: rgb(239, 239, 239);
    background-image: url(/plugins/backend_ui_material/static/images/background-user-box.jpg);
}

.menu-content > div.user-box > .avatar {
    border-radius: 25%;
    border: solid 2px #9b9b9b;
    width: 64px;
    height: 64px;
    background: #9e9e9e url(./images/persian.jpg) center center no-repeat;
    background-size: contain;
    float: left;
}

.menu-content > div.user-box > .user-name {
    color: #fff;
    font-weight: 500;
    text-shadow: 1px 1px 2px #000;
    font-size: 22px;
    line-height: 60px;
    margin-left: 10px;
    float: left;
}

@-webkit-keyframes show_menu {
    0% {
        right: 100%;
        display: block !important;
    }
    100% {
        right: 320px;
        display: block !important;
    }
}

main.content {
    transition: all .3s ease-in-out;
}

@media only screen and (max-width: 479px) {
    .page-brand .ui-content-header {
        background-size: 370px 220px;
        background-position: 80px 56px;
    }

    .ui-content-header .row {
    }

    .ui-content-header .row h1 {
    }
}

@media only screen and (min-width: 992px) {
    .menu-backdrop.in {
        display: none !important;
    }

    main.content {
        margin-left: 320px;
    }

    nav.menu {
        display: block !important;
        right: calc(100% - 320px);
        /*box-shadow: 0 1px 10px rgba(0, 0, 0, .5);*/
    }

    nav.menu .menu-scroll {
        transition: all .6s ease-in-out;
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

.page-brand .ui-header {
    background-color: #1A77C9;
}

.ui-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

.ui-header .dropdown.open .dropdown-toggle {
    background-color: transparent;
}

.ui-picker-divider {
    background-color: #dadada;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    position: relative;
    width: 1px;
    z-index: 1;
}

.ui-picker-draggable-count {
    position: absolute;
    top: -16px;
    right: -16px;
}

.ui-picker-draggable-handler {
    cursor: crosshair;
    cursor: -webkit-grab;
    position: relative;
}

.ui-picker-selected .ui-picker-draggable-handler {
    z-index: 2;
}

.ui-picker-selected .ui-picker-draggable-handler:active {
    cursor: -webkit-grabbing;
}

.ui-picker-selected .ui-picker-draggable-handler strong {
    display: none;
}

.ui-picker-selected .ui-picker-draggable-handler .icon {
    display: inline-block;
}

.ui-picker-draggable-handler strong {
    display: inline;
}

.ui-picker-draggable-handler .icon {
    display: none;
}

.ui-picker-info, .ui-picker-nav {
    background-color: #ffffff;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    overflow: hidden;
    position: relative;
    -webkit-transition: width 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    transition: width 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    width: 0;
}

.ui-picker-info-active {
    width: 400px;
}

.ui-picker-info-detail {
    padding-right: 16px;
    padding-left: 16px;
}

.ui-picker-info-null:after {
    background-color: #f5f5f5;
    content: "Select an item to view its details.";
    display: block;
    font-size: 20px;
    font-weight: 300;
    height: 100%;
    line-height: 28px;
    padding: 58px 16px;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    width: 100%;
    z-index: 1;
}

.ui-picker-inner {
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.ui-picker-item {
    position: relative;
    -webkit-transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.ui-picker-lib.ui-picker-dragging .ui-picker-item.ui-picker-draggable {
    opacity: 0.69;
}

.ui-picker-lib {
    min-height: calc(100vh - 56px);
}

.ui-picker-lib:after, .ui-picker-lib:before {
    content: "";
    display: table;
    line-height: 0;
}

.ui-picker-lib:after {
    clear: both;
}

.ui-picker-main {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    position: relative;
}

.ui-picker-map-wrap {
    height: 225px;
    width: 400px;
}

.ui-picker-nav {
    width: 240px;
}

.ui-picker-page {
    height: 100vh;
    min-width: 992px;
    padding-top: 56px;
    padding-bottom: 0;
}

.ui-picker-selectable-handler {
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.ui-picker-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    height: 100%;
    overflow: hidden;
    width: 100%;
}

.ui-draggable-helper {
    width: 208px !important;
}

.ui-droppable-helper {
    background-color: rgba(255, 64, 129, 0.09) !important;
    border-color: #ff4081 !important;
}

.ui-selectable-helper {
    background-color: rgba(0, 0, 0, 0.12);
    border: 1px solid #dadada;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    z-index: 100;
}

.ui-card-pre {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

@media only screen and (min-width: 768px) {
    .ui-card-pre {
        min-height: 189px;
    }
}

@media only screen and (min-width: 768px) {
    .ui-card-pre-media {
        min-height: 353px;
    }
}

@media only screen and (min-width: 992px) {
    .ui-card-pre-media {
        min-height: 394px;
    }
}

@media only screen and (min-width: 1440px) {
    .ui-card-pre-media {
        min-height: 389px;
    }
}

.ui-card-wrap {
    margin-top: 24px;
    margin-bottom: -24px;
}

.ui-card-wrap:after, .ui-card-wrap:before {
    content: "";
    display: table;
    line-height: 0;
}

.ui-card-wrap:after {
    clear: both;
}

.ui-card-wrap .card {
    margin-top: 0;
}

.ui-tab {
    margin-top: 10px;
}

.btn-brand {
    background-color: #1A77C9;
}

.btn-flat {
    background-color: transparent;
    box-shadow: none;
}

/*左邊選單大小  210 */
.slimScrollDiv {
    width: 100% !important;
    height: 100% !important;
}

.menu-content > .menu-logo:first-child {
    width: 210px;
}

header.header{
    /*display: flex;*/
    min-width: 420px;
}
header .header-logo{
    display: flex;
}
@media screen and (max-width: 420px){

    header.header{
        /*display: flex;*/
        min-width: 250px;
    }
    header .nav+.header-logo{
        display: none;
    }
    header .right-menu {
        width: calc(100% - 60px) !important;
    }
}
header .right-menu{
    width: calc(100% - 310px);
    max-width: 500px;
    min-width: 160px;
}

/* 搜尋框  右側 60px */
header li.search-bar{
    width: calc(100% - 70px);
}
div.search-bar {
    width: 96%;
    margin: 8px 0 8px 0;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    background: rgba(255, 255, 255, 0.16);
    height: 38px;
    line-height: 38px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 1px 2px 0 rgba(0, 0, 0, 0.07), 0 2px 1px -2px rgba(0, 0, 0, 0.1), 0 1px 5px 0 rgba(0, 0, 0, 0.06);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 1px 2px 0 rgba(0, 0, 0, 0.07), 0 2px 1px -2px rgba(0, 0, 0, 0.1), 0 1px 5px 0 rgba(0, 0, 0, 0.06);
}
div.search-bar input{
    background: transparent;
    border: 0;
    color: rgba(42, 84, 121, 0.9);
    padding: 10px;
    outline: none;
}
div.search-bar i{
    background: transparent;
    border: 0;
    color: rgba(42, 84, 121, 0.9);
    outline: none;
    height: 38px;
    line-height: 39px;
    width: 32px;
    padding-left: 8px;
}

div.search-bar input {
    width: 100%;
}
div.search-bar.on input, div.search-bar.on i{
    background: #fff;
    border: 0;
    color: #222;
}
div.page-overlay {
    display: none;
}
div.page-overlay.on{
    position: absolute;
    top: 56px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .2);
    z-index: 9;
    display: block;
}
@media only screen and (max-width: 992px) {
    .slimScrollDiv, .slimScroll {
        width: 280px !important;
        height: 100% !important;
    }

    .slimScroll {
        box-shadow: 0 1px 10px rgba(0, 0, 0, .5);
    }
    nav .menu-content > .menu-logo:first-child {
        width: 100%;
    }

    nav.in .menu-content > .menu-logo:first-child {
        width: 100%;
    }
    header .right-menu{
        width: calc(100% - 200px);
    }
}

@media only screen and (min-width: 992px) {
    .nav-drawer.nav-drawer-md .menu-scroll {
        width: 210px !important;
        height: 100% !important;
        overflow: hidden;
    }
    .nav-drawer.nav-drawer-md.menu-left ~ .content, .nav-drawer.nav-drawer-md.menu-left ~ .footer, .nav-drawer.nav-drawer-md.menu-left ~ .header {
        margin-left: 210px;
    }

    .nav-drawer.nav-drawer-md {
        width: 210px;
    }
}
.gf-title {
    font-family: 'Jura', sans-serif;
    z-index: 99;
}
html, body, main.content{
    height: 100%;
}
body{
    margin-right: -3px;
    overflow: hidden;
}
main.content{
    padding-top: 56px;
    overflow-scrolling: touch;
    -webkit-overflow-scrolling: touch;
    position: relative
}

h3.header-page-name{
    left: 231px;
    background-color: #1A77C9;
    color: #fff;
    border-bottom: 0;
    position: fixed;
    margin: 16px 0;
    font-size: 18px;
}
body.anonymous .login-backdrop {
  opacity: .5;
}
body.anonymous .anonymous-high-light{
    z-index: 99;
}

body.anonymous .btn-flat.btn-brand {
     color: #fff!important;
}

@media only screen and (min-width:992px){
    body.anonymous {
        /*overflow: hidden;*/
    }
}
@media only screen and (max-width:991px){
    .iframe_mask{
        display: none !important;
    }
    body.anonymous .header {
        z-index: 999;
        opacity: 0.99;
    }
    body.anonymous .menu.in .menu-scroll {
        -webkit-transform: translateX(-100%) !important;
        transform: translateX(-100%) !important;
    }
    body.anonymous .menu-backdrop.in {
        display: none;
    }
    body.anonymous.page-brand .header-transparent:before {
        background-color: #13497a;
        opacity: 0.99;
    }
    body.anonymous .fbtn-container,
    body.anonymous.page-brand .header .nav>li>a:first-child{
        display: none !important;
    }
    body.anonymous.page-brand .header .header-logo{
        margin-left: 10px !important;
    }
    body.has-keyboard main.content .ui-content-header,
    body.has-keyboard .card .text-center,
    body.has-keyboard .fbtn-container,
    body.has-keyboard header.header{
        display: none !important;
    }
    body.has-keyboard main.content .container{
        position: absolute;
        top: 10px;
        left: 10px;
        right: 10px;
    }
    h3.header-page-name{
        display: none;
    }
}
.login-backdrop {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: #000;
  opacity: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: opacity .3s cubic-bezier(.4,0,.2,1);
  transition: opacity .3s cubic-bezier(.4,0,.2,1);
  z-index: 32;
  position: fixed;
  left: 0;
  top: 0;
}
.w70{
    width: 70px;
}
.menu-content .nav>li>a {
    display: block;
    line-height: 48px;
    font-weight: 700;
}
.menu-content .nav a .material-icons{
    font-size: 21px;
    float: right;
    margin: 15px 0 12px 12px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
}
.menu-content .nav a.collapsed .material-icons{
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
}
.dropdown .avatar {
    background-color: rgba(154, 154, 154, 0) !important;
}
.dropdown.open .avatar {
    background-color: rgba(154, 154, 154, 0.68) !important;
}
.menu-content{
    height: 100%;
}
.scrollDiv {
    height: calc(100% - 161px);
    overflow: hidden;
    padding-right: 0;
    margin-top: 0;
    width: calc(100% + 4px);
    background: #f3f3f4;
}
.scrollDiv.on {
    height: calc(100% - 161px);
    overflow-y: scroll;
    overflow-x: hidden;
    overflow-scrolling: touch;
}

.menu-content .scrollDiv{
    position: relative;
}
#main-nav{
    position: absolute;
    top: 0;
    width: 100%;
}
.scrollDiv.on #main-nav{
    width: calc(100% + 5px);
}
.scrollDiv::-webkit-scrollbar {
    width: 0;
}

.scrollDiv.on::-webkit-scrollbar {
    width: 5px;
}

/* Track 捲軸的底 */
.scrollDiv::-webkit-scrollbar-track {
    background: transparent;
    -webkit-box-shadow: transparent;
}

/* Handle 捲軸的 Bar */
.scrollDiv::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0;
    border-radius: 0;
    width: 3px;
    background: rgba(26, 118, 199, 0.7);
    -webkit-box-shadow: inset 0 0 6px rgba(26, 118, 199, 0.5);
}

.scrollDiv.on::-webkit-scrollbar-thumb {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: rgba(26, 118, 199, 0.7);
    -webkit-box-shadow: inset 0 0 6px rgba(26, 118, 199, 0.5);
}

.scrollDiv::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(70, 70, 70, 0.3);
}
.menu-content > div.user-box > .avatar, .offline .menu-content > div.user-box > .avatar {
    border: solid 3px #9b9b9b;
}
.online .menu-content > div.user-box > .avatar {
    border: solid 3px #44cc44;
}
#aside_iframe{
    position: absolute;
    top: 0;
    bottom:0;
    right:0;
    width: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 999;
    overflow: hidden;
    background-color: #f3f3f4;
}

.btn-group.op-mode .btn i{
    color: #999;
}
body.in-view-mode .edit-mode, body.in-view-mode .view-mode, body.in-view-mode .delete-mode, body.in-view-mode .sorting-mode,
body.in-edit-mode .edit-mode, body.in-edit-mode .view-mode, body.in-edit-mode .delete-mode, body.in-edit-mode .sorting-mode,
body.in-delete-mode .edit-mode, body.in-delete-mode .view-mode, body.in-delete-mode .delete-mode, body.in-delete-mode .sorting-mode,
body.in-sort-mode .edit-mode, body.in-sort-mode .view-mode, body.in-sort-mode .delete-mode, body.in-sort-mode .sorting-mode
{
    display: none;
}
body.in-edit-mode .edit-mode, body.in-view-mode .view-mode, body.in-delete-mode .delete-mode, body.in-sort-mode .sorting-mode{
    display: inline-block;
}

.btn-group.op-mode{
    border-top: solid 1px #888;
    border-bottom: solid 1px #888;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: 0 0 5px 0;
    width: 100%;
    background: #efefef;
}
.btn-group.op-mode .btn.action i{
    color: #03a9f4;
}
.btn-group.op-mode .btn{
    width: 24.9%;
    color: #03a9f4;
    margin: 3px 0;
    padding: 3px 10px;
    box-shadow: none !important;
}
.btn-group.op-mode .btn+.btn{
    border-left: solid 1px #e8e8e8;
}
.btn-group.op-mode .btn:first-child {
    margin-left: -3px;
}
.btn-group.op-mode .btn:hover, .btn-group.op-mode .btn:focus, .btn-group.op-mode .btn:after {
    background: transparent !important;
    outline: none;
}
.btn-group.op-mode .btn:after {
    display: none !important;
}
.btn-group.op-mode .btn:hover i {
    color: #000 !important;
}

body.in-edit-mode .edit-color, body.in-view-mode .view-color, body.in-delete-mode .delete-color, body.in-sort-mode .sorting-color,
body.in-edit-mode .btn:hover .edit-color, body.in-view-mode .btn:hover .view-color, body.in-delete-mode .btn:hover .delete-color, body.in-sort-mode .btn:hover .sorting-color
{
    color: #03a9f4 !important;
}
.btn-group.op-mode .icon-2x{
    font-size: 20px;
}
.btn-group.op-mode>span{
    line-height: 18px;
    margin: 9px;
}
.touchevents .move-headline>i{
    display: none !important;
}
.nav li.br {
    height: 1px;
    background: #aaa;
    border-bottom: solid 1px #ccc;
    box-shadow: 1px 1px 2px #fefefe;
    margin: 4px 0;
}
.nav li ul li.br {
    height: 1px;
    background: #aaa;
    border-bottom: solid 1px #ccc;
    box-shadow: 1px 1px 2px #fefefe;
    margin: 4px 0 4px 30px;
}
.nav li ul {
    position: absolute;
    top: 0;
    display: none;
    right: 300px;
}
.menu-box{
    position: absolute;
    top: 0;
    left: -300px;
    z-index: 2;
    background: #f3f3f4;
}
.menu-box.in {
    position: relative;
    z-index: 8;
    top: 0;
}
.menu-back{
    border-bottom: solid 1px #ccc;
    box-shadow: 1px 1px 2px #fefefe;
}
.menu-back i{
    float: left;
}
.menu-back a{
    padding-left: 0 !important;
}
.nav li.gt {
    background: #efefef;
    padding: 7px 0 7px 15px;
    border-top: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
}
li.menu-back + li.gt {
    border-top: solid 0px #ccc;
}
.nav-justified>li>a {
    margin-bottom: 0px;
}