@import url(https://fonts.googleapis.com/css?family=Roboto:300,300italic,400,400italic,500,500italic|Jura);

html, body, main.content{
    height: 100%;
}
body{
    margin-right: -3px;
    overflow: hidden;
    padding-bottom: 4px;
    background-color: #f3f3f4;
    height: 101%;
}
body:before {
    content: '';
    height: 60px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    /*transition: background-color 0.2s ease-in-out;*/
}
.gf-title {
    font-family: 'Jura', sans-serif;
    z-index: 9;
}
.padding-right-no {
    padding-right: 0 !important;
}
.padding-left-no {
    padding-left: 0 !important;
}
.text-center {
    text-align: center;
}
.pull-right {
    float: right;
}
.btn-flat {
    background-color: transparent;
    box-shadow: none;
}
.dropdown-menu.dropdown-menu-right, .dropdown.pull-right .dropdown-menu {
    border-radius: 2px 0 2px 2px;
    right: 0;
    left: auto;
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
}

header{
    z-index: 30;
    min-width: 420px;
    height: 60px;
    color: white;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}
header:before {
    background-color: transparent;
}
header.affix{
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
}
header.affix:after{
    box-shadow: none;
}
header a {
    color: inherit;
    z-index: 1;
}
header .small-title {
    margin: 16px 0 0 1.5%;
}
header .right-menu{
    justify-content: flex-end;
    padding-right: calc(1.5% + 18px);
    margin-top: 14px !important;
    width: 250px;
}
header .search-bar{
    width: 100%;
}
header .nav > li > a, header .nav > li > .a {
    height: 26px;
    min-height: 26px;
    line-height: 34px;
    margin-top: 5px;
}
header .dropdown.open .dropdown-toggle {
    background-color: transparent;
}
header .page-overlay{
    left: calc(100% - 250px);
}
.header-logo, .header-text {
    -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    float: left;
    font-weight: 300;
    height: 56px;
    line-height: 28px;
    margin: 0 16px;
    white-space: nowrap;
}
.header-logo {
    font-size: 20px;
    margin-top: 4px;
}
.header-logo:focus, .header-logo:hover, .header-text:focus, .header-text:hover {
    outline: 0;
    text-decoration: none;
}

.nav ul {
    margin: 0;
    padding: 0;
}
.nav li {
    display: block;
    position: relative;
}
.nav li > a, .nav li > .a {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 48px;
    padding: 0 16px;
    position: relative;
}
.nav li > a:focus, .nav li > a:hover, .nav li > .a:focus, .nav li > .a:hover {
    text-decoration: none;
}
.nav-list {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.nav-list > li {
    float: left;
}
.nav-justified, .nav-list {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: transparent;
    outline: none;
}
.nav li.hr {
    height: 1px;
    border-bottom: solid 1px #ccc;
    box-shadow: 1px 1px 2px #fefefe;
    margin: 4px 0;
}
.nav li ul li.hr {
    height: 1px;
    background: #aaa;
    border-bottom: solid 1px #ccc;
    box-shadow: 1px 1px 2px #fefefe;
    margin: 4px 0 4px 30px;
}
.nav li.menu-back + li.hr {
    display: none;
}
.nav li.hr + li.hr {
    display: none;
}
.nav li ul {
    /*position: absolute;*/
    top: 0;
    /*display: none;*/
    right: 300px;
}
.nav li.gt {
    background: #efefef;
    padding: 7px 0 7px 15px;
    border-top: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
}
.nav-justified>li>a {
    margin-bottom: 0;
}
.nav li > a, .nav li > .a{
    outline: none;
}
.nav-drawer.nav-drawer-md {
    z-index: 32;
}

.menu {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: none;
    overflow: hidden;
    outline: 0;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 31;
}
.menu-logo {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid #dadada;
    color: #212121;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 20px;
    font-weight: 300;
    line-height: 28px;
    margin-bottom: 8px;
    min-height: 56px;
    padding: 0 16px;
}
.menu-scroll {
    height: 100%;
    min-width: 210px;
    max-width: 85%;
    max-width: calc(100% - 64px);
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.72, -0.19, 0.74, 0.05);
    transition: -webkit-transform 0.3s cubic-bezier(0.72, -0.19, 0.74, 0.05);
    transition: transform 0.3s cubic-bezier(0.72, -0.19, 0.74, 0.05), -webkit-transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    width: 320px;
    z-index: 1;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    background: #f3f3f4;
}
.menu.in .menu-scroll {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.menu-backdrop {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: #000000;
    opacity: 0;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 30;
}
.menu-backdrop.in {
    opacity: 0.5;
}
.menu-content{
    padding-top: 0;
    height: 100%;
    overflow: hidden;
}
.menu-content .nav>li>a {
    display: block;
    line-height: 48px;
    font-weight: 700;
}
.menu-content .nav a, .menu-content .nav .a {
    color: #212121;
    font-weight: 500;
}
.menu-content .nav ul a,
.menu-content .nav ul .a {
  font-weight: 400;
  min-height: 36px;
  padding-left: 32px;
}
.menu-content .nav a:focus, .menu-content .nav a:hover, .menu-content .nav .a:focus, .menu-content .nav .a:hover {
    background-color: #f5f5f5;
}
.menu-content .nav a .material-icons{
    font-size: 21px;
    float: right;
    margin: 15px 0 12px 12px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
}
.menu-content .nav a.collapsed .material-icons{
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
}
.menu-content > .menu-logo {
    display: block;
    margin-top: 0 !important;
    margin-bottom: 0;
    border-bottom: 0;
    padding-top: 18px;
    padding-bottom: 14px;
    height: 60px;
    width: 215px;
}
.menu-content > .menu-logo a{
    color: #fff;
    text-decoration: none;
    text-underline: none;
}
.menu-content > div.user-box > .avatar, .offline .menu-content > div.user-box > .avatar {
    border: solid 3px #9b9b9b;
}
.menu-content > div.user-box > .avatar {
    border-radius: 25%;
    border: solid 2px #9b9b9b;
    width: 64px;
    height: 64px;
    background: #9e9e9e center center no-repeat;
    background-size: contain;
    float: left;
}
.menu-content > div.user-box > .user-name {
    color: #fff !important;
    font-weight: 500;
    text-shadow: 1px 1px 2px #000;
    font-size: 22px;
    line-height: 60px;
    margin-left: 10px;
    float: left;
}
.menu-content > div.user-box > .user-name a {
    color: #fff;
}
.menu-box{
    position: absolute;
    top: 0;
    left: -300px;
    z-index: 2;
}
.menu-box.in {
    position: relative;
    z-index: 8;
    top: 0;
}
.menu-back{
    border-bottom: solid 1px #ccc;
}
.menu-back i{
    float: left;
}
.menu-back a{
    padding-left: 0 !important;
}
.menu-back a:hover{
    background: transparent !important;
}
.menu-back + li.gt {
    border-top: solid 0 #ccc;
}


.user-box {
    height: 77px;
    padding: 7px 7px 10px;
    margin-top: 0;
    background-color: rgb(239, 239, 239);
    background-image: url('/plugins/backend_ui_material/static/images/background-user-box.jpg');
    background-size: 180%;
    background-position: 50%;
}
.offline .user-box{
    border: solid 2px #9b9b9b;
}
.online .user-box{
    border: solid 2px #44cc44;
}

/* 搜尋框  右側 60px */
div.search-bar {
    width: 100%;
    margin: 8px 0 8px 0;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    background: rgba(255, 255, 255, 0.16);
    height: 38px;
    line-height: 38px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 1px 2px 0 rgba(0, 0, 0, 0.07), 0 2px 1px -2px rgba(0, 0, 0, 0.1), 0 1px 5px 0 rgba(0, 0, 0, 0.06);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 1px 2px 0 rgba(0, 0, 0, 0.07), 0 2px 1px -2px rgba(0, 0, 0, 0.1), 0 1px 5px 0 rgba(0, 0, 0, 0.06);
}
div.search-bar input{
    background: transparent;
    border: 0;
    color: rgba(255, 255, 255, 0.4);
    padding: 10px;
    outline: none;
}
div.search-bar i{
    background: transparent;
    border: 0;
    color: rgba(255, 255, 255, 0.3);
    outline: none;
    height: 38px;
    line-height: 39px;
    width: 32px;
    padding-left: 8px;
}

div.search-bar input {
    width: 100%;
}
div.search-bar.on input, div.search-bar.on i{
    background: #fff;
    border: 0;
    color: #222;
}
div.page-overlay {
    display: none;
}
div.page-overlay.on{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .42);
    z-index: 30;
    display: block;
}
main.content{
    padding-top: 60px;
    overflow-scrolling: touch;
    -webkit-overflow-scrolling: touch;
    position: relative
}

.left-search{
    left: calc(210px + 1.3%);
    color: #fff;
    border-bottom: 0;
    position: fixed;
    margin: 5px 0 0 15px !important;
    font-size: 18px;
    line-height: 22px;
    width: calc(100% - 520px - 2.6%);
    z-index: 10;
}
.login-backdrop {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: #000;
  opacity: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: opacity .3s cubic-bezier(.4,0,.2,1);
  transition: opacity .3s cubic-bezier(.4,0,.2,1);
  z-index: 32;
  position: fixed;
  left: 0;
  top: 0;
}
.dropdown .avatar {
    background-color: rgba(154, 154, 154, 0) !important;
}
.dropdown.open .avatar {
    background-color: rgba(154, 154, 154, 0.68) !important;
}

.scrollDiv {
    position: relative;
    height: calc(100% - 142px);
    overflow: hidden;
    padding-right: 0;
    margin-top: 0;
    width: calc(100% + 4px);
}
.scrollDiv::-webkit-scrollbar {
    width: 0;
}
.scrollDiv::-webkit-scrollbar-track {
    background: transparent;
    -webkit-box-shadow: transparent;
}
.scrollDiv::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0;
    border-radius: 0;
    width: 3px;
    background: rgba(26, 118, 199, 0.7);
    -webkit-box-shadow: inset 0 0 6px rgba(26, 118, 199, 0.5);
}
.scrollDiv::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(70, 70, 70, 0.3);
}
.scrollDiv.on {
    height: calc(100% - 142px);
    overflow-y: scroll;
    overflow-x: hidden;
    overflow-scrolling: touch;
}
.scrollDiv.on #main-nav{
    width: calc(100% + 5px);
}
.scrollDiv.on::-webkit-scrollbar {
    width: 5px;
}
.scrollDiv.on::-webkit-scrollbar-thumb {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: rgba(26, 118, 199, 0.7);
    -webkit-box-shadow: inset 0 0 6px rgba(26, 118, 199, 0.5);
}

#main-nav{
    position: absolute;
    top: 0;
    width: 100%;
}
#aside_iframe{
    position: absolute;
    top: 60px;
    height: calc(100% - 60px);
    right: -2px;
    width: 0;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
    z-index: 29;
    overflow: hidden;
    background-color: #f3f3f4;
}
main.content {
    transition: all .3s ease-in-out;
}

.op-mode {
    border-top: solid 1px #888;
    border-bottom: solid 1px #888;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: 0 0 5px 0;
    width: 100%;
    background: #efefef;
}
.op-mode .btn{
    padding: 3px 10px;
    box-shadow: none !important;
    border: solid 1px transparent;
    display: inline-block;
    color:#afafaf !important;
    height: 40px;
    width: 42px;
    font-size: 11px;
    line-height: 35px;
    margin: 0 0 0 5px;
    border-radius: 50%;
}
.op-mode .btn+.btn{
    border-left: solid 1px #e8e8e8;
}
.op-mode .btn i{
    color: #999;
}
.op-mode .btn.action i{
    color: #03a9f4;
}
.op-mode .btn:first-child {
    margin-left: -3px;
}
.op-mode .btn:hover, .op-mode .btn:focus, .op-mode .btn:after {
    background: transparent !important;
    outline: none;
}
.op-mode .btn:after {
    display: none !important;
}
.op-mode .btn:hover i {
    color: #000 !important;
}
.op-mode .icon-2x{
    font-size: 20px;
}
.op-mode>span{
    line-height: 18px;
    margin: 9px;
}

.in-view-mode .edit-mode, .in-view-mode .view-mode, .in-view-mode .delete-mode, .in-view-mode .sorting-mode,
.in-edit-mode .edit-mode, .in-edit-mode .view-mode, .in-edit-mode .delete-mode, .in-edit-mode .sorting-mode,
.in-delete-mode .edit-mode, .in-delete-mode .view-mode, .in-delete-mode .delete-mode, .in-delete-mode .sorting-mode,
.in-sort-mode .edit-mode, .in-sort-mode .view-mode, .in-sort-mode .delete-mode, .in-sort-mode .sorting-mode {
    display: none;
}
.in-edit-mode .edit-mode, .in-view-mode .view-mode, .in-delete-mode .delete-mode, .in-sort-mode .sorting-mode{
    display: inline-block;
}

.in-edit-mode header .page-overlay {
    background-color: rgba(15, 69, 117, 0);
}
.in-edit-mode .edit-color, .in-edit-mode .brand-text-color {
    color: #398dee !important;
}
.in-edit-mode .menu-content > .menu-logo, .in-edit-mode:before, .in-edit-mode header:before {
    background-color: #398dee;
}
.in-edit-mode .menu-content > .menu-logo .page-overlay {
    background-image: linear-gradient(rgba(1, 3, 4, 0.42), rgba(7, 28, 47, 0.69) 60px, rgba(62, 62, 62, 0.77) 10px, rgba(62, 62, 62, 0.77) 100%);
}

.in-view-mode header .page-overlay {
    background-color: rgba(33, 70, 56, 0)
}
.in-view-mode .view-color, .in-view-mode .brand-text-color {
    color: #23c6c8 !important;
}
.in-view-mode .menu-content > .menu-logo, .in-view-mode:before, .in-view-mode header:before {
    background-color: #23c6c8;
}
.in-view-mode .menu-content > .menu-logo .page-overlay {
    background-image: linear-gradient(rgba(1, 3, 4, 0.42), rgb(12, 67, 67) 60px, rgba(62, 62, 62, 0.77) 10px, rgba(62, 62, 62, 0.77) 100%);
}

.in-sort-mode header .page-overlay {
    background-color: rgba(117, 38, 15, 0);
}
.in-sort-mode .sorting-color, .in-sort-mode .brand-text-color {
    color: #f8ac59 !important;
}
.in-sort-mode .menu-content > .menu-logo, .in-sort-mode:before, .in-sort-mode header:before {
    background-color: #f8ac59
}
.in-sort-mode .menu-content > .menu-logo .page-overlay {
    background-image: linear-gradient(rgba(1, 3, 4, 0.42), rgb(84, 58, 30) 60px, rgba(62, 62, 62, 0.77) 10px, rgba(62, 62, 62, 0.77) 100%);
}

.in-delete-mode header .page-overlay {
    background-color: rgba(117, 15, 39, 0);
}
.in-delete-mode .delete-color, .in-delete-mode .brand-text-color {
    color: #ed5565 !important;
}
.in-delete-mode .menu-content > .menu-logo, .in-delete-mode:before, .in-delete-mode header:before {
    background-color: #ed5565;
}
.in-delete-mode .menu-content > .menu-logo .page-overlay {
    background-image: linear-gradient(rgba(1, 3, 4, 0.42), rgb(80, 28, 34) 60px, rgba(62, 62, 62, 0.77) 10px, rgba(62, 62, 62, 0.77) 100%);
}

.on-search header a{
    color: #666;
}
.on-search .enter-edit-mode, .on-search .enter-view-mode, .on-search .enter-delete-mode, .on-search .enter-sorting-mode{
    color: rgba(207, 207, 207, 0.42) !important;
}
.on-search .nav li.hr{
    border-bottom: solid 1px rgba(231, 225, 225, 0.69);
    box-shadow: 1px 1px 2px #cbc7c7;
}
.on-search .menu-back{
    border-bottom: solid 1px rgba(68, 62, 62, 0.69);
    box-shadow: 1px 1px 2px #aea7a7;
}
.show-sort-tag [data-sort] i{
    display: none;
}
.show-sort-tag [data-sort]::after{
    display: block;
    position: absolute;
    top: 6px;
    right: 7px;
    height: 25px;
    width: 50px;
    content: attr(data-sort);
    outline: solid 1px #bebebe;
    text-align: center;
    line-height: 25px;
}
.show-sort-tag .menu-content .nav>li>a[data-sort]::after {
    top: 12px;
}
.progress{
    position: absolute;top: 0;width: 100%;height: 4px;z-index: 999;margin: 0;background: transparent;
}
.progress-bar{
    background-color: rgba(78, 66, 70, 0.47);
}
.swal2-modal h2{
    font-size: 28px;
}

.w70{
    width: 70px;
}
.w32h32{
    width: 32px;
    height: 32px;
}
.top100-12{
    top: calc(100% + 12px) !important;
}
@media only screen and (max-width:991px){
    .iframe_mask{
        display: none !important;
    }
    body.has-keyboard .card .text-center,
    body.has-keyboard .fbtn-container,
    body.has-keyboard header{
        display: none !important;
    }
    body.has-keyboard main.content .container{
        position: absolute;
        top: 10px;
        left: 10px;
        right: 10px;
    }
}
@media only screen and (max-width: 992px) {
    .slimScrollDiv, .slimScroll {
        width: 280px !important;
        height: 100% !important;
    }

    .slimScroll {
        box-shadow: 0 1px 10px rgba(0, 0, 0, .5);
    }
    nav .menu-content > .menu-logo {
        width: 100%;
    }

    nav.in .menu-content > .menu-logo {
        width: 100%;
    }

    .op-mode .btn {
        margin: 0 12px 0 18px;
    }
}
@media only screen and (min-width: 992px) {
    .menu-scroll {
        max-width: none;
    }
    .nav-drawer.nav-drawer-md {
        background-color: transparent;
        display: block !important;
        overflow: visible;
        width: 240px;
        z-index: 30;
    }
    header .header-logo{
        display: none;
    }
    .menu-backdrop.in {
        display: none !important;
    }

    main.content {
        margin-left: 320px;
    }

    nav.menu {
        display: block !important;
        right: calc(100% - 320px);
        /*box-shadow: 0 1px 10px rgba(0, 0, 0, .5);*/
    }

    nav.menu .menu-scroll {
        transition: all .6s ease-in-out;
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
    .ui-card-pre-media {
        min-height: 394px;
    }
    .nav-drawer.nav-drawer-md .menu-scroll {
        width: 210px !important;
        height: 100% !important;
        overflow: hidden;
        background: #fff;
    }
    .nav-drawer.nav-drawer-md.menu-left ~ .content, .nav-drawer.nav-drawer-md.menu-left ~ .footer, .nav-drawer.nav-drawer-md.menu-left ~ header {
        margin-left: 210px;
    }

    .nav-drawer.nav-drawer-md {
        box-shadow: rgba(0, 0, 0, 0.498039) 0 1px 10px;
        width: 210px;
    }
}
@media screen and (max-width: 680px) {
    header .nav + .header-logo {
        display: none;
    }
    .left-search {
        left: 42px;
        min-width: 125px;
        width: calc(100% - 260px)
    }
}
@media screen and (max-width: 420px){
    body{
        width: 420px;
    }
    header{
        min-width: 310px;
    }
    header .right-menu {
        width: calc(100% - 180px) !important;
    }
}