{% import "backend/macros.html" as s with context %}
{% extends s.layout() %}
{%- block layout_header -%}
    {%- if scaffolding %}
{#        {% if uri_exists_with_permission(action="add") -%}<a class="btn btn-red btn-create" href="{{ uri_action_link('add') }}"><i class="icon">edit</i>{{ s.scaffold_title("add") }}</a>{%- endif -%}#}
        {% block partial_related_area %}{{ s.partial_include('partial_related_area_in_page.html') }}{% endblock %}
{#        {% block partial_list_area %}{{ s.partial_include('partial_nav_lang.html') }}{% endblock %}#}
    {%- endif %}
{% endblock %}

{% block layout_content %}
<div class="wrapper wrapper-content">
    <iframe name="iframeForm" width="0" height="0" frameborder="0" seamless style="position: absolute; top: -100px;"></iframe>
    <form method="{% block form_tag_method %}POST{% endblock %}"
          class="{% block form_tag_class %}form-horizontal row{% endblock %}"
          action="{% block form_tag_action %}{{ scaffolding.form_action|default(uri(_pass_all=True), True) }}{% endblock %}"
          data-return-encoding="{% block form_tag_return_encoding %}{{ scaffolding.form_return_encoding }}{% endblock %}"
          enctype="{% block form_tag_enctype %}{{ scaffolding.form_encoding }}{% endblock %}"
          accept-charset="{% block form_tag_charset %}UTF-8{% endblock %}"
          target="{% block form_tag_target %}iframeForm{% endblock %}" role="form">
        {% block form_body %}
        <div class="col-sm-12" style=" margin-top: 10px;margin-bottom: 30px;">
            <div class="tabs-container form-tabs">{% if scaffolding.get_tab_pages() %}
                <ul class="nav nav-tabs">{% for tab_page in scaffolding.get_tab_pages() -%}{% if loop.index == 1 %}
                    <li class="active"><a data-toggle="tab" href="#tab-{{ loop.index }}" aria-expanded="true"> {{ tab_page }}</a></li>{% else %}
                    <li class=""><a data-toggle="tab" href="#tab-{{ loop.index }}" aria-expanded="false">{{ tab_page }}</a></li>{% endif %}{% endfor -%}
                </ul>{% endif %}
                <div class="tab-content">
                    {{ events.before_form_fields() }}
                    {%- block form_content %}{%- for tabs_fields in scaffolding.get_tab_pages_fields() %}
                    <div id="tab-{{ loop.index }}" class="tab-pane {% if loop.index == 1 %}active{% endif %}">
                        <div class="panel-body">
                            <div class="row">{%- for field in form %}{% if field.name in tabs_fields and field.name not in scaffolding.excluded_in_form %}
                                {{ s.form_field(form, field) }}{% endif %}{%- endfor %}</div>
                        </div>
                    </div>{%- endfor %}
                    {%- endblock %}

                    {% block form_actions %}
                    <div class="col-xs-12 text-right">
                        {% block submit_button -%}
                        <button type="submit" class="btn btn-sm btn-primary"><i class="icon">save</i> {% block submit_text %}{% endblock %}</button>
                        <a class="backToList btn btn-white btn-sm"><i class="icon">close</i></a>
                        {%- endblock %}
                    </div>
                    {%- endblock %}
                    {{ events.after_form_fields() }}
                </div>
            </div>
        </div>
        {% endblock %}
    </form>
</div>
{% endblock %}

{% block layout_buttons %}
    <a class="fbtn fbtn-lg fbtn-brand-accent waves-attach waves-circle waves-light" href="javascript: saveForm();"><span class="fbtn-text fbtn-text-left">{% block submit_text_f %}{% endblock %}</span><span class="icon icon-lg">save</span></a>
{% endblock %}
