{%- import 'backend/macros.html' as s with context -%}
{%- extends s.layout() -%}
{%- block layout_header -%}
    {%- if scaffolding %}
        {% if s %}<h1>{{ s.scaffold_title(route.action) }}</h1>{% endif %}
        {% block partial_related_area %}{{ s.partial_include('partial_related_area.html') }}{% endblock %}
        {% block partial_list_area %}{{ s.partial_include('partial_nav_list.html') }}{% endblock %}
    {%- endif %}
{% endblock %}
{%- block layout_content -%}
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="mail-box sortable-list margin-0">
            <table class="table table-hover margin-0" data-cookie-id-table="{{ scaffolding.plural }}_{{ route.action }}" data-show-columns="true" data-toggle="table" data-cookie="true" id="list-table">
                <thead>
                <tr>
                    <th data-field="sortable" class="col-1 sorting-mode text-center">排序</th>
                    {% for property in scaffolding.display_properties_in_list -%}
                        <th data-field="{{ property }}" class="text-center">{{ s.scaffold_field_name(property) }}</th>
                    {% endfor -%}
                    <th data-field="more-field" class="col-1 text-center">更多</th>
                </tr>
                </thead>
                <tbody>
                    {% block partial_tr_item %}{% endblock %}
                </tbody>
            </table>
            {% block partial_records_footer %}
                {{ s.next_page_link() }}
                {{ s.partial_include('partial_records_footer.html') }}{% endblock %}
        </div>
    </div>
</div>
{% endblock %}
{% block layout_head -%}
{%- endblock %}
{% block layout_scripts -%}
    <script type="text/javascript">
    (function(page){
        {%- if change_view_to_edit_function %}page["change_view_to_edit"] = {{ change_view_to_edit_function }};{% endif -%}
        {%- if change_view_to_view_function %}page["change_view_to_view"] = {{ change_view_to_view_function }};{% endif -%}
        {%- if change_view_to_sort_function %}page["change_view_to_sort"] = {{ change_view_to_sort_function }};{% endif -%}
        {%- if change_view_to_delete_function %}page["change_view_to_delete"] = {{ change_view_to_delete_function }};{% endif -%}
    })(page);
    </script>
    {% block page_scripts -%}{% endblock %}
{%- endblock %}

{% block layout_buttons %}
    {%- if scaffolding %}
        {% if uri_exists_with_permission(action="add") -%}
                <a href="{{ uri_action_link('add') }}" class="fbtn fbtn-lg fbtn-brand-accent waves-attach waves-circle waves-light" target="aside_iframe"><span class="fbtn-text fbtn-text-left">{{ s.scaffold_title("add") }}</span><span class="icon icon-lg">edit</span></a>
        {%- endif -%}
    {%- endif %}
{% endblock %}