{%- import 'backend/macros.html' as s with context -%}
{%- extends s.layout() -%}
{%- block layout_header -%}
    {%- if scaffolding %}
        {% if s %}<h1>{{ s.scaffold_title(route.action) }}</h1>{% endif %}
        {% block layout_header_buttons -%}{% endblock %}
        {% block partial_related_area %}{{ s.partial_include('partial_related_area.html') }}{% endblock %}
        {% block partial_list_area %}{{ s.partial_include('partial_nav_list.html') }}{% endblock %}
    {%- endif %}
{% endblock %}
{%- block layout_content -%}
<div class="wrapper wrapper-content">
    {%- block layout_content_helper -%}{% endblock %}
    <div class="row">
        <div class="mail-box sortable-list margin-0">
            <table class="table table-hover margin-0" data-cookie-id-table="{{ scaffolding.plural }}_{{ route.action }}" data-show-columns="true" data-toggle="table" data-cookie="true" id="list-table">
                <thead>
                <tr>{% block partial_thead_tr %}
                    <th data-field="sortable" class="sorting-mode text-center srot-filed" style="width: 100px;">排序</th>
                    {% for property in scaffolding.display_in_list -%}
                        <th data-field="{{ property }}" class="text-center">{{ s.scaffold_field_name(property) }}</th>
                    {% endfor -%}{% endblock %}
                    {% if len(scaffolding.actions_in_list) %}
                        {% for action in scaffolding.actions_in_list %}
                            <th data-field="{{ action.name }}" class="text-center">{{ action.title }}</th>
                        {% endfor %}
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                    {% block partial_tr_item %}{% endblock %}
                </tbody>
            </table>
            {% block partial_records_footer %}
                {{ s.next_page_link() }}
                {{ s.partial_include('partial_records_footer.html') }}{% endblock %}
        </div>
    </div>
</div>
{% endblock %}

{% block layout_head -%}{%- endblock %}
