{%- import 'backend/macros.html' as s with context -%}
{%- extends s.layout() -%}
{%- block page_header -%}
    {%- if scaffolding %}
        {% if s %}<h1>{{ s.scaffold_title(route.action) }}</h1>{% endif %}
        {{ s.scaffold_buttons() }}
    {%- endif %}
{% endblock %}
{% block page_content %}
    {%- block list_before_content -%}{% endblock %}
    <div class="row">
        <div class="mail-box sortable-list">
            <table class="table table-hover margin-0" data-cookie-id-table="{{ scaffolding.plural }}_{{ route.action }}" data-show-columns="true" data-toggle="table" data-cookie="true" id="list-table">
                <thead>
                <tr>{% block partial_thead_tr %}
                    <th data-field="sortable" class="sorting-mode text-center srot-filed" style="width: 100px;">排序</th>
                    {% for property in scaffolding.display_in_list -%}
                        <th data-field="{{ property }}" class="text-center">{{ s.get_scaffold_field_title(property) }}</th>
                    {% endfor -%}{% endblock %}
                    {% if len(scaffolding.actions_in_list) %}
                        {% for action in scaffolding.actions_in_list %}
                            <th data-field="{{ action.name }}" class="text-center">{{ action.title }}</th>
                        {% endfor %}
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                    {% block partial_tr_item %}{% endblock %}
                </tbody>
            </table>
            {% block partial_records_footer %}
                {{ s.next_page_link() }}
                {{ s.scaffold_last_record_date(last_record_date) }}
            {% endblock %}
        </div>
    </div>
{% endblock %}

{% block layout_head -%}{%- endblock %}
