{% extends "backend/list_layout.html" %}

{% block partial_tr_item %}
{%- set list = context[scaffolding.plural] -%}
{% for item in list %}
    <tr id="node_{{ item.sort }}" class="record_item"
        {% if uri_exists_with_permission(action="view", item=item) %}data-view-url="{{ uri_action_link('view', item) }}"{% endif %}
        {% if uri_exists_with_permission(action="edit", item=item) %}data-edit-url="{{ uri_action_link('edit', item) }}"{% endif %}
        {% if uri_exists_with_permission(action="delete", item=item) %}data-delete-url="{{ uri_action_link('delete', item) }}"{% endif %}
        data-id="{{ print_key(item) }}">
        <td class="text-center sorting-mode move-headline">
            {% if uri_exists_with_permission(action="sort_up") %}
                <a href="{{ uri_action_link('sort_up', item) }}" class="btn-json"><i class="icon icon-2x">keyboard_arrow_up</i></a>{% endif %}
            <i class="icon icon-2x">view_headline</i>
            {% if uri_exists_with_permission(action="sort_down") %}
                <a href="{{ uri_action_link('sort_down', item) }}" class="btn-json"><i class="icon icon-2x">keyboard_arrow_down</i></a>{% endif %}
        </td>
        {% for property in scaffolding.display_properties_in_list -%}
            <td>
                {%- if property.find("is_") >= 0 %}
                    {{ s.scaffold_field_boolean(item, property) }}
                {% else -%}
                    {%- if property.find("image") >= 0 %}
                        <img src="{{ print_value(item[property]) }}" height="32" />
                    {% else -%}
                        {{ print_value(item[property]) }}
                    {%- endif -%}
                {%- endif -%}
            </td>
        {% endfor -%}
        <td class="text-right print-hide"></td>
    </tr>
{% endfor -%}
{% endblock %}
