{% extends "backend/list_layout.html" %}

{# 權限 #}
{% macro check_permission_url(action, item) -%}
    {% if uri_exists_with_permission(action=action, item=item) %}data-{{ action }}-url="{{ uri_action_link(action, item) }}"{% endif %}
{%- endmacro %}

{% block partial_tr_item %}
{%- set list = context[scaffolding.plural] -%}
{% if list %}
{% for item in list %}
    <tr id="node_{{ item.sort }}" class="record_item"
        {{ check_permission_url("view", item) }}
        {{ check_permission_url("edit", item) }}
        {{ check_permission_url("delete", item) }}
        data-id="{{ print_key(item) }}">
        <td class="text-center sorting-mode move-headline">
            {% if uri_exists_with_permission(action="sort_up", item=item) %}<a href="{{ uri_action_link('sort_up', item) }}" class="btn-json"><i class="icon icon-2x">keyboard_arrow_up</i></a>{% endif %}
            <i class="icon icon-2x">view_headline</i>
            {% if uri_exists_with_permission(action="sort_down", item=item) %}<a href="{{ uri_action_link('sort_down', item) }}" class="btn-json"><i class="icon icon-2x">keyboard_arrow_down</i></a>{% endif %}
        </td>
        {%- for property in scaffolding.display_in_list -%}
            <td>
                {%- if property.find("is_") >= 0 or property.find("can_") >= 0 %}
                    {{ s.scaffold_field_boolean(item, property) }}
                {% else -%}
                    {%- if property.find("image") >= 0 %}
                        <img src="{{ print_value(item[property]) }}" height="32" />
                    {% else -%}
                        {{ print_value(item[property]) }}
                    {%- endif -%}
                {%- endif -%}
            </td>
        {%- endfor -%}
        {% if len(scaffolding.actions_in_list) %}
            {% for action in scaffolding.actions_in_list %}
                <td><a class="btn btn-sm {{ action.button_class }}"
                       href="{{ uri_action_link(action, item) }}">{{ action.button }}</a> </td>
            {% endfor %}
        {% endif %}
    </tr>
{% endfor -%}
{% endif %}
{% endblock %}

{% block layout_buttons %}
    {%- if scaffolding %}
        {% if uri_exists_with_permission(action="add") -%}
            {% set q = params.get_string('query', '') %}
            <a href="{{ uri_action_link('add') }}?{{ q }}" class="fbtn fbtn-lg fbtn-brand-accent waves-attach waves-circle waves-light"><span class="fbtn-text fbtn-text-left">{{ s.scaffold_title("add") }}</span><span class="icon icon-lg">edit</span></a>
        {%- endif -%}
    {%- endif %}
{% endblock %}