{%- macro layout() -%}backend_ui_material/page.html{%- endmacro -%}

{# Scaffold 頁面標題 #}
{% macro scaffold_title(action) -%}
    {%- if page_title -%}
        {{ page_title }}
    {%- else -%}
        {%- if scaffolding -%}
            {{ scaffolding.scaffold_title[action] }}
        {%- else -%}
            {{ inflector.humanize(route.action) }}
        {%- endif -%}
    {%- endif -%}
{%- endmacro %}

{# Scaffold 頁面描述 #}
{% macro scaffold_description(action) -%}
    {%- if scaffolding -%}
        {{ scaffolding.scaffold_description[action] }}
    {%- endif -%}
{%- endmacro %}

{# Scaffold 欄位名稱 #}
{% macro get_scaffold_field_title(field_name) -%}
    {%- for key,name in scaffolding.scaffold_field_verbose_names.items() -%}
        {%- if key == field_name -%}
            {{ name }}
        {%- endif -%}
    {%- endfor -%}
{%- endmacro %}

{# 載入局部頁面 #}
{% macro partial_include(template) -%}
{% include [controller_name+'/'+template, 'backend_ui_material/partial/'+template, 'scaffolding/'+template] %}
{%- endmacro %}

{# 載入局部頁面 #}
{% macro partial_include_in_plugin(template) -%}
{% include [
'/plugins/'+plugin_name+'/templates/'+controller_name+'/'+route.action+'_'+template,
'/application/'+plugin_name+'/templates/'+controller_name+'/'+route.action+'_'+template,
'backend/blank.html'] %}
{%- endmacro %}

{# 分頁按鈕 #}
{% macro next_page_link() -%}
{%- if paging -%}
<ul class="nav nav-list margin-no pull-left paging">
    <li class="paging-btn">
        {% if paging.previous_cursor is defined %}<a href="{{ uri(_pass_all=True, cursor=paging.previous_cursor) }}" class="btn btn-white"><i class="icon icon-2x">keyboard_arrow_left</i></a>{% else %}<a><i class="icon icon-2x">keyboard_arrow_left</i></a>{% endif %}
    </li>
    <li class="paging-btn">
        {% if paging.next_cursor %}<a href="{{ uri(_pass_all=True, cursor=paging.next_cursor) }}"  class="btn btn-white"><i class="icon icon-2x">keyboard_arrow_right</i></a>{% else %}<a><i class="icon icon-2x">keyboard_arrow_right</i></a>{% endif %}
    </li>
    <li><span style="float: left;line-height: 36px;margin-right: 10px;"> <i class="hidden-xs">第</i> <i>{{ paging.page }}</i> <i class="hidden-xs">頁</i> </span></li>
</ul>
{%- endif %}
{%- endmacro %}

{# Boolean 欄位 #}
{% macro scaffold_field_boolean(item, field_name) -%}
    <div class="checkbox checkbox-success">
        <input type="checkbox" {% if item[field_name] %}checked{% endif %} id="{{ print_key(item) }}"
               class="btn-checkbox-json"
               data-enable-url="{{ uri_action_link('set_boolean_field', item) }}?field={{ field_name }}&value=true"
               data-disable-url="{{ uri_action_link('set_boolean_field', item) }}?field={{ field_name }}&value=false"
        >
        <label for="{{ print_key(item) }}"></label>
    </div>
{%- endmacro %}

{#  欄位處理 #}
{% macro form_field(form, field, container_element='div') -%}
    {%- if field.short_name in scaffolding.disabled_in_form %}{%- set _ = kwargs.setdefault('readonly', true) -%}{%- endif -%}
    {% if field.type == 'HiddenField' or field.widget.input_type == 'hidden' %}
        {{ field(**kwargs) }}
    {% else %}
        {%- set _ = kwargs.setdefault('tabindex', 0) -%}
        {%- set css_classes = [kwargs.pop('class','form-control')] -%}
        {%- set css_classes_outsides = [] -%}
        {%- if field.widget.__class__.__name__ in ('TextInput', 'Select', 'Text', 'PasswordInput', 'FileInput', 'TextArea', 'EditorTextProperty') -%}
            {%- set _ = css_classes.append('field-control') -%}
        {%- endif -%}
        {%- if field.widget.__class__.__name__ in ('CheckboxInput') -%}
            {%- set _ = css_classes_outsides.append('checkbox') -%}
        {%- endif -%}

        {%- set _ = css_classes.append('field-type-' + inflector.dasherize(inflector.underscore(field.__class__.__name__))) -%}
        {%- for flag_name, flag_value in field.flags.__dict__.items() %}
            {%- if flag_value %}
                {%- set _ = css_classes.append(' flag_' + flag_name + '_true') %}
            {%- else %}
                {% set _ = css_classes.append(' flag_' + flag_name + '_false') %}
            {%- endif %}
        {%- endfor %}
        {%- set css_class = ' '.join(css_classes) -%}
        {%- set css_class_outsides = ' '.join(css_classes_outsides) -%}

        {%- set container_classes = [] -%}
        {%- if field.id.find("_lang_")>0 -%}
            {%- set _ = container_classes.append('lang lang-' + field.id.split("_lang_")[0] + ' lang-' + field.id.split("_lang_")[1] ) -%}
        {%- endif -%}
        {%- if field.name in scaffolding.hidden_in_form %}
            {%- set _ = container_classes.append('hidden') -%}
        {% endif -%}
        {%- set lang_class = ' '.join(container_classes) -%}

        <{{ container_element }} class='form-group form-group-{{ field.id }} {{ lang_class }} filed-group-{{ field.field_group_index }} {% if field.errors %}has-error{% endif %}'>
            {{ field.label(class='col-xs-3 text-right control-label') }}
            <div class="col-xs-8 {{ css_class_outsides }}">
                {{ field(class=css_class, **kwargs) }}
                <p class="help-block">
                    {%- if field.description %}{{ field.description }}{% endif %}
                    {%- for error in field.errors %}{{ error|e }}<br/>{% endfor %}
                </p>
            </div>
        </{{ container_element }}>
        <div class="hr-line-dashed {{ lang_class }}"></div>
    {%- endif %}
{%- endmacro %}

{# 載入最後更新時間 #}
{% macro scaffold_last_record_date(last_record_date) -%}
{% if last_record_date %}<span class="text-muted small pull-right visible-sm visible-md visible-lg" style="margin: 10px;">最後更新：<i class="icon">access_time</i> {{ print_value(last_record_date) }}</span>{% endif %}
{%- endmacro %}

{# 載入局部頁面 #}
{% macro scaffold_buttons(display_save_buttons=True, display_go_back_button=True) -%}
    {%- if scaffolding -%}
        {%- if not item %}{%- set item = context[scaffolding.singular] -%}{% endif -%}
        {%- if route.action == 'add' -%}
            {% set submit_text ="建立" %}
            {% set submit_and_exit_text ="建立並離開" %}
            {% set submit_and_reload_record ="建立並繼續編輯" %}
        {% endif %}
        {%- if route.action == 'edit' -%}
            {% set submit_text ="儲存" %}
            {% set submit_and_exit_text ="儲存並離開" %}
        {% endif %}
        {%- if route.action == 'view' -%}
            {% set edit_item_text ="編輯此項目" %}
        {% endif %}
        {%- if route.action == 'config' -%}
            {% set submit_text ="儲存設定" %}
            {% set submit_and_exit_text ="儲存並離開" %}
        {% endif %}
        {% if display_go_back_button %}
        <a href="javascript: history.go(-1);" class="btn btn-white btn-display-in-iframe" title="回上一頁"><i class="icon">keyboard_backspace</i></a>
        {% endif %}

        {%- if route.action == 'list' -%}
        <div class="btn-group">
            {% if uri_permission(action="add") and scaffold_title("add") != '' -%}
                {% set q = params.get_string('query', '') %}
                <a href="{{ uri_action_link('add') }}?{{ q }}" class="btn btn-white"><i class="icon">add_circle</i> {{ scaffold_title("add") }}</a>
            {%- endif -%}
        </div>
        {% endif %}

        {% if display_save_buttons and route.action != 'list' %}
        <div class="btn-group">
            {%- if route.action != 'view' and submit_text and submit_and_exit_text -%}
            <a href="javascript: saveForm();" class="btn btn-white"><i class="icon">save</i> {{ submit_text }}</a>
            <a href="javascript: saveFormAndGoBack();" class="btn btn-white"><i class="icon">save</i> {{ submit_and_exit_text }}</a>
            {% endif %}
            {% if route.action == 'view' and uri_permission(action='edit', item=item) %}
            <a href="javascript: view.change('edit');" class="btn btn-white"><i class="icon">edit</i> {{ edit_item_text }}</a>
            {% endif %}
            {%- if route.action == 'add' and submit_and_reload_record != '' -%}
            <a href="javascript: saveFormAndReloadRecord();" class="btn btn-white"><i class="icon">save</i> {{ submit_and_reload_record }}</a>
            {% endif %}
        </div>
        {% endif %}

        <div class="dropdown list-operations related-operations hide pull-right">
            <a class="dropdown-toggle text-black waves-attach padding-left-no padding-right-no waves-effect btn btn-white"
               data-toggle="dropdown">
                <span><i class="icon icon-lg">arrow_drop_down</i></span>
                <span class="hidden-xs">相關操作</span><span class="visible-xs">操作</span>
            </a>
            <ul class="dropdown-menu folder-list ">
                <li class="dropdown-menu-group">頁面</li>
                {% if display_save_buttons %}
                {%- if route.action == 'add' or route.action == 'edit' or route.action == 'config' -%}
                <li><a href="javascript: saveForm();"><i class="material-icons">save</i>{{ submit_text }} <span class="label quick-key">S</span><span class="quick-key quick-key-2">+</span><span class="label quick-key">Ctrl</span></a></li>
                <li><a href="javascript: saveFormAndGoBack();"><i class="material-icons">save</i>{{ submit_and_exit_text }} <span class="label quick-key">S</span><span class="quick-key quick-key-2">+</span><span class="label quick-key">Shift</span><span class="quick-key quick-key-2">+</span><span class="label quick-key">Ctrl</span></a></li>
                {% endif %}
                {% endif %}

                {%- if route.action != 'add' -%}
                    {% if uri_permission(action='edit', item=item) and route.action == 'view' %}<li><a href="javascript: view.change('edit');" data-url="{{ uri_action_link('edit', item) }}" class="edit-url"><i class="material-icons">keyboard_arrow_right</i>  編輯此項目 <span class="label quick-key">1</span> <span class="label quick-key" style="margin-right: 2px;">E</span></a></li>{% endif %}
                    {% if uri_permission(action="view", item=item) and route.action == 'edit' %}<li><a href="javascript: view.change('view');" data-url="{{ uri_action_link('view', item) }}" class="view-url"><i class="material-icons">keyboard_arrow_right</i>  檢視此項目 <span class="label quick-key">2</span> <span class="label quick-key" style="margin-right: 2px;">V</span></a></li>{% endif %}
                    {%- if route.action == 'edit' -%}
                        {% set prev_one = item.get_prev_one() %}
                        {% set next_one = item.get_next_one() %}
                        {% if prev_one and uri_permission(action='edit', item=prev_one) and route.action == 'edit' %}<li><a href="{{ uri_action_link('edit', prev_one) }}" class="edit-url alt-j"><i class="material-icons">keyboard_arrow_right</i>  上一個項目 <span class="label quick-key">J</span><span class="quick-key quick-key-2">+</span><span class="label quick-key">Alt</span></a></li>{% endif %}
                        {% if next_one and uri_permission(action='edit', item=next_one) and route.action == 'edit' %}<li><a href="{{ uri_action_link('edit', next_one) }}" class="edit-url alt-k"><i class="material-icons">keyboard_arrow_right</i>  下一個項目 <span class="label quick-key">K</span><span class="quick-key quick-key-2">+</span><span class="label quick-key">Alt</span></a></li>{% endif %}
                        {% if prev_one and uri_permission(action='view', item=prev_one) and route.action == 'view' %}<li><a href="{{ uri_action_link('view', prev_one) }}" class="edit-url alt-j"><i class="material-icons">keyboard_arrow_right</i>  上一個項目 <span class="label quick-key">J</span><span class="quick-key quick-key-2">+</span><span class="label quick-key">Alt</span></a></li>{% endif %}
                        {% if next_one and uri_permission(action='view', item=next_one) and route.action == 'view' %}<li><a href="{{ uri_action_link('view', next_one) }}" class="edit-url alt-k"><i class="material-icons">keyboard_arrow_right</i>  下一個項目 <span class="label quick-key">K</span><span class="quick-key quick-key-2">+</span><span class="label quick-key">Alt</span></a></li>{% endif %}
                    {%- endif -%}
                {%- endif -%}

                {% for nav_item in scaffolding.navigation -%}
                    {% if uri_permission(nav_item.uri) %}
                    <li><a href="{{ uri(nav_item.uri) }}"><i class="material-icons">keyboard_arrow_right</i> {{ nav_item.title }} </a></li>
                    {% endif -%}
                {% endfor -%}
                {% if scaffolding.scaffold_language %}
                <li class="dropdown-menu-group">語系欄位切換</li>
                    {%- set lang_count = 1 %}
                    {%- for item in scaffolding.scaffold_language %}
                        <li><a class="waves-attach waves-effect btn-lang" data-lang="{{ item.lang }}" href="#"> <i class="fa fa-flag-o"></i>{{ item.lang }}, {{ item.title }}
                            <span class="label quick-key">{{ lang_count }}</span><span class="quick-key quick-key-2">+</span><span class="label quick-key">Alt</span></a></li>
                    {%- set lang_count = lang_count + 1 -%}
                    {%- endfor %}
                {% endif %}
            </ul>
        </div>

        {%- if route.action == 'list' -%}
        <div class="dropdown list-operations filed-display-operations hide in pull-right">
            <a class="dropdown-toggle text-black waves-attach padding-left-no padding-right-no waves-effect btn btn-white"
               data-toggle="dropdown">
                <span><i class="icon icon-lg">arrow_drop_down</i></span>
                <span class="hidden-xs">顯示欄位</span>
                <span class="visible-xs">欄位</span>
            </a>
            <ul class="dropdown-menu folder-list ">
            </ul>
        </div>
        {%- endif %}
    {%- endif %}

{%- endmacro %}