{%- macro layout() -%}backend_ui_material/page.html{%- endmacro -%}

{# Scaffold 頁面標題 #}
{% macro scaffold_title(action) -%}
    {%- if page_title -%}
        {{ page_title }}
    {%- else -%}
        {%- if scaffolding -%}
            {{ scaffolding.scaffold_title[action] }}
        {%- else -%}
            {{ inflector.humanize(route.action) }}
        {%- endif -%}
    {%- endif -%}
{%- endmacro %}

{# Scaffold 頁面描述 #}
{% macro scaffold_description(action) -%}
    {%- if scaffolding -%}
        {{ scaffolding.scaffold_description[action] }}
    {%- endif -%}
{%- endmacro %}

{# Scaffold 欄位名稱 #}
{% macro scaffold_field_name(field_name) -%}
    {%- for key,name in scaffolding.scaffold_field_name.items() -%}
        {%- if key == field_name -%}
            {{ name }}
        {%- endif -%}
    {%- endfor -%}
{%- endmacro %}

{# 載入局部頁面 #}
{% macro partial_include(template) -%}
{% include [controller_name+'/'+template, 'backend_ui_material/partial/'+template, 'scaffolding/'+template] %}
{%- endmacro %}

{# 分頁按鈕 #}
{% macro next_page_link() -%}
{%- if paging -%}
<ul class="nav nav-list margin-no pull-left paging">
    <li class="paging-btn">
        {% if paging.previous_cursor is defined %}<a href="{{ uri(_pass_all=True, cursor=paging.previous_cursor) }}" class="btn btn-white"><i class="icon icon-2x">keyboard_arrow_left</i></a>{% else %}<a><i class="icon icon-2x">keyboard_arrow_left</i></a>{% endif %}
    </li>
    <li class="paging-btn">
        {% if paging.next_cursor %}<a href="{{ uri(_pass_all=True, cursor=paging.next_cursor) }}"  class="btn btn-white"><i class="icon icon-2x">keyboard_arrow_right</i></a>{% else %}<a><i class="icon icon-2x">keyboard_arrow_right</i></a>{% endif %}
    </li>
    <li><span style="float: left;line-height: 36px;margin-right: 10px;"> <i class="hidden-xs">第</i> <i>{{ paging.page }}</i> <i class="hidden-xs">頁</i> </span></li>
</ul>
{%- endif %}
{%- endmacro %}

{# Boolean 欄位 #}
{% macro scaffold_field_boolean(item, field_name) -%}
    <div class="checkbox checkbox-success">
        <input type="checkbox" {% if item.is_enable %}checked{% endif %} id="{{ print_key(item) }}"
               class="btn-checkbox-json"
               data-enable-url="{{ uri_action_link('set_boolean_field', item) }}?field={{ field_name }}&value=true"
               data-disable-url="{{ uri_action_link('set_boolean_field', item) }}?field={{ field_name }}&value=false"
               data-enable-text="已啟用"
               data-disable-text="已停用"
        >
        <label for="{{ print_key(item) }}"></label>
    </div>
{%- endmacro %}
