{%- import 'backend/macros.html' as s with context -%}
{%- extends s.layout() -%}
{%- set item = context[scaffolding.singular] -%}

{%- block page_header -%}
    {% if scaffolding %}
        <h1>{{ s.scaffold_title(route.action) }}</h1>
        {{ s.scaffold_buttons() }}
    {% endif %}
{% endblock %}

{% block page_content %}
    <div class="col-sm-12" style="margin-bottom: 30px;">
        <div class="mail-box">
            <table class='table table-striped'>
                <thead>
                <tr>
                    <th>欄位名稱</th>
                    <th>值</th>
                    <th>name</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>系統編號</td>
                    <td><span class='badge' title='{{ item.key.urlsafe() }}'>{{ item.key.id() }}</span></td>
                    <td>name</td>
                </tr>
                {% for property in scaffolding.display_in_form %}{%- if property.name not in scaffolding.hidden_in_form %}
                <tr>
                    <td>
                        {{ s.get_scaffold_field_title(property) }}
                    </td>
                    <td>
                        {{ print_value(item[property]) }}
                    </td>
                    <td>
                        {{ property }}
                    </td>
                </tr>{% endif -%}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block page_fly_button %}{% endblock %}